[2015-01-19 18:06] yawitz commented on #432
NOTE: In Stephen's mockups:
- Initially, both buttons are blue/enabled.
- After voting, voted button is green, other is grayed out.

This, of course, applies to logged-in users only. Guests show both buttons grayed out.

[2015-01-19 18:08] laurelnaiad commented on #41
Thanks!

Is the session being lost after GET /v1/session? That seems like a reasonable explanation for why a new token is being generated. I think that the user, after GET /v1/session, should have a real session which is (temporarily) associated with the guest role (until they PUT their credentials).

[2015-01-19 18:11] laurelnaiad commented on #432
@wooldridge, as you look at this for button style fix (and I can confirm it's not right yet), please also know that the tooltips, at least on the branch I'm looking at right now, are also incorrect after voting (they are disabled as they should be, but the message says "you must be logged in to vote", instead of something like "you've already voted". I'm not sure what the correct verbage is but I

[2015-01-19 19:42] gghai commented on #282
verified .Started with Show Resolved count 1903 .

Now Mary answered one of the Joe question Number 4 (with no accepted answer). Joe accepted the answer .  Show Resolved count increased by 1 i.e its now 1904 .

[2015-01-19 20:04] gghai commented on #360
Latest develop  branch takes seed 1.7 . I also verified i am seeing the question around sept 2014 .

[2015-01-19 20:08] gghai commented on #283
Tried few scenarios here
1) Joe raised a new question , resolved:false incremented as expected as it was resolved.
2) Joe accepted an answer , resolved :true count incremented by 1.

[2015-01-19 20:19] gghai commented on #463
Checked at Home Page , Ask a question page Samplestack 1.0.0 is seen now .

Also for the doc related verified at https://github.com/marklogic/marklogic-samplestack/tree/develop

shows me README for Version 1.0.0

[2015-01-19 21:34] grechaw commented on #41
Aha, I'm not completely bonkers -- this creation of new session on login is deliberate.  See here

http://stackoverflow.com/questions/14176853/how-to-stop-spring-security-from-creating-a-new-session

Evidently it prevents a particular kind of attack.  It looks like I can disable it, but do you think it might be preferable to leave the behavior as I'm seeing it (new session upon login)?

[2015-01-19 21:42] gghai commented on #312
With the latest develop able to spot an entry with unknown user is seen . ML 01/18 and latest develop code.

Login as joe user
Sort via votes
No goto page 6
6 entry question has a user unknown

Link : http://rh6-intel64-80-qa-dev-2:3000/doc/soq1493839

[2015-01-19 21:56] gghai commented on #352
"Show resolved only" functionality is available now .

few scenarios tested :
1) QnA list updates correctly using the Show resolved only selection .
2) USe SRO selection and filter update the QnA list .
3) Combination of Show resolved only and Show my contributions only update list correctly .
4) Use the search string and used the Show resolved only .
5) Tried newly resolved question are adding  t

[2015-01-19 22:17] gghai commented on #450
Off page indicator is present on QnA list page , QnA details page , comments . Verified .

[2015-01-19 22:23] gghai commented on #435
You must log in to submit an answer to this question is seen when user is not logged in and try to answer .  On login one is able to post a answer .

[2015-01-19 22:31] laurelnaiad commented on #443
@wooldridge, how much of this have you implemented? Is there a branch for it?

[2015-01-19 22:41] gghai commented on #451
Verified the copyright information for the appserver folder src -> main and src -> test .

Apart from the file below all the code file are updated with copyright and apache information .

https://github.com/marklogic/marklogic-samplestack/blob/develop/appserver/java-spring/src/main/java/com/marklogic/samplestack/SamplestackConstants.java

"* Copyright 2012-2015 MarkLogic Corporation
*
* Licensed u

[2015-01-19 22:56] wooldridge commented on #443
I put the Page Unavailable work that we did last Thursday on this branch:

wooldridge/browser-page-unavail

This branch includes fixes to the unit tests since we renamed the "fourOhFour" pages to "error". But there's still something structurally wrong in the unit tests, maybe you can figure it out.

[2015-01-19 22:58] laurelnaiad commented on #365
@popzip did you get any response as to whether or not this has to be on every file?

[2015-01-19 22:59] laurelnaiad commented on #443
Thanks, I will look at it tonight.

[2015-01-19 23:07] wooldridge commented on #270
About to commit a fix for this. Relevant screen shots:

question-answer-voted-answer.png (shows green "has voted" up button, gray down button)
question-answer-logged-in.png (shows blue "can vote" buttons)

Guests (users not logged in) will see all gray buttons since they cannot vote.

[2015-01-19 23:14] gghai commented on #362
Seeing some inconsistent behavior along this fix.

Tried a scarnios mentioned in the bug , that is not working any more.

Logged in as the joe and mary on seperate browser
Goto browser where Marys is logged is
Open Marys Open Number 1
Try to accept the answer .( answered by joeUSer)

Error :

Error occurred: {"data":{"timestamp":"2015-01-19T15:09:16.833-0800","status":400,"error":"Bad Request","ex

[2015-01-19 23:57] wooldridge commented on #312
I can reproduce this on the QA machine:

http://rh6-intel64-80-qa-dev-2:3000/doc/soq1493839

I can also reproduce it locally:

http://localhost:3000/doc/soq1493839

Here is what owner data I see from the call to the questions endpoint:

[code]

The UI is doing what is spec'd above for this case, display "unknown" without a reputation. If this requires a fix, I believe it is the seed data that need

[2015-01-20 00:06] grechaw commented on #362
OK I'l look into it.

[2015-01-20 00:07] wooldridge commented on #432
Will check on the tooltip issue once the @clockworked247 tooltips have been merged, I believe the PR is here: https://github.com/laurelnaiad/marklogic-samplestack/pull/50

[2015-01-20 00:14] grechaw commented on #41
Well, I've taken my knocks today on this one, and sunk too much time into it.  the above configuration works to keep session id in place, but a new token is still generated at login time nonetheless.  I believe I have located a bug in Spring Boot's integration with Spring Security whereby you cannot control the order of security filter application.  At this particular moment it's looking doubtful

[2015-01-20 00:14] laurelnaiad commented on #312
There's a new way we are to spell it. Please poke around in issues with text 'unknown'. It has something to do with stackoverlow id.

[2015-01-20 00:16] gghai commented on #159
@laurelnaiad  can you please list out all the scenario here to be tested ?

[2015-01-20 00:16] grechaw commented on #424
I think this is merged and fixed.

[2015-01-20 00:17] laurelnaiad commented on #41
If you put the new csrf token in the resp. To PUT, I can get it updated in the browser.

[2015-01-20 00:19] grechaw commented on #312
A new way?  If this should go into a search transform (there's deafult values in search transform for not-found-users) then let me know what to do.

[2015-01-20 00:21] grechaw commented on #41
Is a 302 redirect an appropriate way to get it?  That's what I had working.    (And it's still a POST as before FWIW)

[2015-01-20 00:21] laurelnaiad commented on #312
Its assigned to Mike again. I gather you've done what we need. Id=unknow needs to trigger a different rendering of username.

[2015-01-20 00:22] grechaw commented on #41
(I realize this is all annoying -- Spring has gotten rather byzantine in its efforts to be Even More Automagical)

[2015-01-20 00:23] laurelnaiad commented on #41
Not really. Can you include it in the response?

[2015-01-20 00:24] laurelnaiad commented on #41
(As header) same as with GET

[2015-01-20 00:25] gghai commented on #371
Ran this with @yawitz  . Used different search string to see the behavior .

The Link max count seem to be returning 4 now .

Search String 1 : "sort"  :  Result snippet seems closer tot what is expected .

Search String 1 :  "marklogic"  Look at : 1 st snippet  Link http://docs.marklogic.com are they expected as coming ?

Search String 1  :  "marklogic search string +  tag filter "xquery"   -> Lo

[2015-01-20 00:30] gghai commented on #371
@laurelnaiad  can you confirm on the Search String 3 : "marklogic search string + tag filter "xquery" -> Look at the 2nd entry . There are 3 links in the snippets [A] [Q] [Q] text inside the first link [A] is longer compared to the other two. Is that expected or not ?

[2015-01-20 00:31] laurelnaiad commented on #371
I can't really understand your comments. Will you please specify a full URL for a search that shows the problem, and a result item number where the problem appears in those resuts so i can understand what the problem is?

[2015-01-20 00:32] gghai commented on #371
You should be able to see via using the search string and tag filter . Let me know if you still having troubles viewing it .

[2015-01-20 00:33] laurelnaiad commented on #371
When i search for `marklogic search string + tag filter "xquery"` I get 0 documents. The full URL of the search will help get us on the same page.

[2015-01-20 00:33] laurelnaiad commented on #371
Yes, full URL please! :)

[2015-01-20 00:35] gghai commented on #371
http://rh6-intel64-80-qa-dev-2:3000/?q=marklogic&tags=xquery

[2015-01-20 00:35] laurelnaiad commented on #371
Is this the one?

[code]

[2015-01-20 00:36] gghai commented on #371
Q: Writing reusable codes in xquery and starting xquery / marklogic

[A] ...'t have a module clause). MarkLogic does provide an interesting construct,... ...supported by the latest version of MarkLogic) provides similar provisions like dynamic... ...building typical and complete webapps with MarkLogic, there are quite a number... ..., on which [http://developer.marklogic.com](http://developer.mark

[2015-01-20 00:38] yawitz commented on #371
I think you need to be logged-in to see the same Q as @gghai sees.

[2015-01-20 00:38] laurelnaiad commented on #371
Ok, so it doesn't look like the browser is doing anythinbg to the snippets related to what you're describing. Assigning to @grechaw .

[2015-01-20 00:47] yawitz commented on #312
Not sure if we're talking about the same thing here. Further up this thread (https://github.com/marklogic/marklogic-samplestack/issues/312#issuecomment-69088833), we agreed to render unknown user as:

and the the wireframes were updated 2 revisions ago.

[2015-01-20 00:48] yawitz commented on #312
Earlier we discussed what SO does in these cases (i.e. appending an ID), but agreed to the recent rendering instead.

[2015-01-20 00:50] laurelnaiad commented on #159
All searches are to be interpreted in the timezone of the user and all dates are to be displayed in the timezone of the user. @yawitz will you please work with @gghai to make sure the spec is documented in a manner that can be tested for correctness?

[2015-01-20 00:51] laurelnaiad commented on #312
I didn't realize we'd gone back on that again, In that case, reassgining to @ggha to test.

[2015-01-20 00:55] gghai commented on #424
Still able to view this issue with Mary Question No 0 . Answer is not accepted but it marked in approval state on the QnA list on home page .

[2015-01-20 00:56] wooldridge commented on #424
@grechaw, I looked at this with Gaurav and the mismatched IDs still exist for that question, see above.

[2015-01-20 00:56] yawitz commented on #159
I'm not sure what the test for this issue is supposed to be about. From a UX perspective, you want date filtering to result in QnA Docs that fall into the specified range, based on the displayed dates. How those displayed dates are determined is, to my understanding, a functional spec issue, not a UX issue. Can you be more specific about what you need from me?

[2015-01-20 00:59] laurelnaiad commented on #159
If the spec is clear enough then it should be testable. User's perceive time in their local timezone. This needs to be sufficientlly put into the spec that describes the user experience. Please don't reassign to me. If you don't know how to document the expected UI, then let's discuss offline.

[2015-01-20 01:03] gghai commented on #452
I ll happy to certify it outside our supported list . Lets discuss about this proposal in our next SampleStack meeting. Thanks

[2015-01-20 01:12] laurelnaiad commented on #362
Something just occurred to me.

Goto browser where Marys is logged is
Open Marys Open Number 1
Try to accept the answer .( answered by joeUSer)

Were they the same browser application? As in two Chrome windows or two Firefox windows?

That would explain the error, and no, that's not a supported use case. :)

[2015-01-20 01:15] laurelnaiad commented on #452
You can run the e2e tests on Sauce Labs, which still has an older version of the software available to verify the e2e tests for the browsers on our supported list.

`--sauce=win7-chrome-37`

[2015-01-20 01:17] yawitz commented on #159
OK, just spoke with Daphne:

- All times in the data are GMT times.
- All times displayed to a given user should be expressed in that user's timezone (i.e. adjusted as needed to reflect the local time of that user).
- When applying date filters, the From and To dates should be interpreted as local times, and the times for the filtered results, also expressed in the local timezone, should fall with

[2015-01-20 01:19] laurelnaiad commented on #159
(That first bullet re how dates are stored is the functional aspect which is not to have any UX exposure, fyi).

[2015-01-20 01:22] laurelnaiad commented on #159
And yes to you NOTE, which is one thing that should be tested. A user in Moscow has a slightly different month than one in California.

[2015-01-20 01:28] yawitz commented on #159
Understood re:

but it was helpful to know that when thinking through how to test it. I just spoke to @gghai. He will set one test machine to GMT, as a way to establish a baseline, to make it easier to examine how results can change as the user's timezone changes.

[2015-01-20 01:55] laurelnaiad commented on #159
The largest differences observable should be between two timezones that are just over the international date line from each other, FWIW.

[2015-01-20 15:57] grechaw commented on #41
Well the response now includes the old (!) CSRF token which is no longer valid.   This is because of the hackery of adding the filter where it needs to go, when it was already configured to process requests ahead
 I'll see what I can do.

Not fun, breakpointing around spring boot.  would that we could start over with a newerfangled framework, but thems the breaks.

[2015-01-20 17:01] laurelnaiad commented on #401
@grechaw, did you perhaps add timezone support? I don't think we'd finished spec'ing it when we started drafting this, but it's relevant for the underlying docs search.

[2015-01-20 18:34] grechaw commented on #471
This task is complete -- for @gghai I think it's just to verify that all the xqy is gone -- the search above still returns code from the master branch, so nothing's changed there.

[2015-01-20 18:47] grechaw commented on #401
oooo I did NOT add timezone support, and I agree, it is relevant.

[2015-01-20 19:29] popzip commented on #200
As an update - we are updating our documentation to clarify:
*MarkLogic assumes there is only one MarkLogic Server process running on any given machine, so it is not recommended to run multiple instances of MarkLogic on a single machine.*

That reference information will be available here after our next release (in the next few weeks):
http://docs.marklogic.com/guide/installation/intro#id_32669

[2015-01-20 19:29] popzip commented on #201
As an update - we are updating our documentation to clarify:
*MarkLogic assumes there is only one MarkLogic Server process running on any given machine, so it is not recommended to run multiple instances of MarkLogic on a single machine.*

That reference information will be available here after our next release (in the next few weeks):
http://docs.marklogic.com/guide/installation/intro#id_32669

[2015-01-20 19:34] yawitz opened #478 "Voting buttons and tooltips not working to spec"
*This issue is moved over from #432, starting at https://github.com/marklogic/marklogic-samplestack/issues/432#issuecomment-70528789*

From @laurelnaiad:

From @yawitz:

- Initially, both buttons are blue/enabled.
- After voting, voted button is green, other is grayed out.

From @laurelnaiad:

[2015-01-20 19:36] yawitz commented on #432
**Moved side conversation about voting buttons and tooltips to #478. Pushing the main issue here (dynamic sorting) to 8.0-2.**

[2015-01-20 19:49] laurelnaiad commented on #478
dupe of #270

[2015-01-20 19:49] #478 closed

[2015-01-20 21:05] yawitz commented on #432
Kasey found an excellent example in the wild: Amazon Q&A:
http://www.amazon.com/forum//ref=ask_dp_dpmw_al_hza?asin=B00J46VVKE&cdSort=best

Here, the list does not automatically re-sort when you vote on a given question; you need to refresh the page to see the effect. (Kasey also made the good point that, since the answers are paged, you wouldn't want a 0-vote question on, say, page 4, jump to page

[2015-01-20 21:18] popzip commented on #362
all things voting bumped to major. i think @gghai confirmed this was 2 different browsers (chrome & firefox) which i believe is supported.

[2015-01-20 22:02] gghai commented on #159
Verified . Setup 3 machines on different time zone to cover globe .

Machine 1 on PDT
Machine 2  on GMT
Machine 3  on Adelaide Australia (GMT + 10.30 hours)
All times displayed to a given user should be expressed in that user's timezone (i.e. adjusted as needed to reflect the local time of that user). - PASS

When applying date filters, the From and To dates should be interpreted as local times, a

[2015-01-20 22:07] gghai commented on #159
Checked with Filter , tags and Ask a question functionality too.

[2015-01-20 22:32] popzip commented on #312
browser readme needs to be updated: https://github.com/marklogic/marklogic-samplestack/tree/develop/browser

@laurelnaiad what about end to end tests - credentials up to date with joe/mary @example and not @marklogic?

[2015-01-20 22:41] grechaw commented on #362
OK, the bug was the seed-data I'd copied from marklogic test data still had @marklogic.com in emails, so they did not match the logged-in user when looked up by username.  I cut a new seed-data and will get it ready to install

[2015-01-20 22:41] popzip commented on #367
can't tell if this one is supposed to be open or not..re-opening for @gghai / @laurelnaiad investigation.

[2015-01-20 22:45] popzip commented on #452
Decision: will not support gulp e2e command on Chrome 37. Must be >= Chrome 38.

need to update QA process/documentation (internal wiki) for testing @gghai
need to make sure notes on Readme/wiki explain what versions supported/work @laurelnaiad

(if anything in this current issue is NOT related to chrome 37, please open new separate GH issue).

[2015-01-20 22:53] popzip commented on #312
(commented on wrong thread, moving to correct issue)

[2015-01-20 22:54] popzip commented on #377
browser readme needs to be updated: https://github.com/marklogic/marklogic-samplestack/tree/develop/browser

@laurelnaiad what about end to end tests - credentials up to date with joe/mary @example and not @marklogic?

[2015-01-20 23:25] gghai commented on #473
As we talked about assigning this back to you , as tool tip for the below section are yet to be implemented .

Markdown Editor (for Ask and Answer)
Posts (Questions/Answers/Comments)
Paging Control (all)

Thanks

[2015-01-20 23:32] clockworked247 commented on #473
Thanks Garauv.  I hadn't intended this one to go into test until my last PR with updated from my call with Mitch went in.  Apologies for the churn.

[2015-01-20 23:34] gghai commented on #414
Verified it on all A grade supported browser list . Chrome / FF looks good on Windows and Mac .

For manual date entry, replace an invalid date with the date entered in the opposite field.
Also when you are picking using the date picker via calender .

On IE browser , as soon as you manually enter the date to the to/from fields they fade away .Will add this    https://github.com/marklogic/marklogi

[2015-01-20 23:35] laurelnaiad commented on #473
If you're not finished, you don't want to write `Closes #xyz`, FYI, or "completed work" in the subject line. :)

[2015-01-20 23:38] clockworked247 opened #479 "Address App-wide Tooltip layout issues"
This issue tracks problems observed with the use of angular-ui bootstrap tooltips throughout the app.  Tooltips do not properly pick-up CSS styling and layout due to some logic in the library that appears to attempt to size the tooltip in relation to the DOM element it is rendering the tooltip for.

This issue will be the place we collaborate on a solution.

[2015-01-20 23:39] laurelnaiad commented on #479
I'm investigating wether the tooltips or the date range changes or the use of new angular-bootstrap may be at the source of the ie9 test failures.

[2015-01-20 23:41] laurelnaiad commented on #367
I added the `test` label. I do think this one was ready for test but @grechaw please confirm.

[2015-01-20 23:43] gghai commented on #412
I am able to verify it on Chrome / Firedox both on  Mac / Windows  .

On IE9  browser , as soon as you manually enter the date to the to/from fields they fade away .

Todo for QA : once this bug is fixed Verify this https://github.com/marklogic/marklogic-samplestack/issues/414  on IE9 browser also .

[2015-01-20 23:43] laurelnaiad commented on #377
The tests are already updated.  The readme doesn't discuss the credentials AFAIK.

[2015-01-20 23:55] clockworked247 commented on #479
Ask page - http://localhost:3000/ask observed issues where when a tooltip is attached to a button, the button style itself is effected, which we do not want.

[2015-01-21 00:17] popzip commented on #377
see link above - credentials mentioned in the browser readme

[2015-01-21 00:44] gghai commented on #469
Verified .

[2015-01-21 00:56] laurelnaiad commented on #377
So they are. Missed that in my first Ctl-F perusal.

[2015-01-21 00:56] yawitz opened #480 "Tooltips blocked for a number of features"
Due to a variety of issues with the code libraries we're using in Samplestack, implementation of tooltips for a number of features are blocked. From @clockworked247:

- **Paging Control** - with the new implementation of pagination using the new angular-ui bootstrap directive does not allow us to hang tooltips on the individual numbers in the pagination control.
- **Markdown Editor** - when toolti

[2015-01-21 00:58] yawitz commented on #473
All tooltips except those for:
- Paging control
- Markdown editor

should be implemented. Known problems with these two sets are tracked in #480.
Scott, you can go ahead and checkin the code for all other tooltips.

[2015-01-21 00:59] yawitz commented on #479
This task should track just the layout issues (that apply to tooltips in general). The issue with the markdown editor on the Ask page is tracked in #480.

[2015-01-21 01:04] yawitz commented on #479
NOTE: For both this issue and #480, Scott says:

[2015-01-21 01:04] yawitz commented on #480
NOTE: For both this issue and #479, Scott says:

[2015-01-21 01:09] gghai commented on #413
Fixed.

[2015-01-21 01:13] gghai commented on #418
Verified .

[2015-01-21 01:15] clockworked247 commented on #479
:+1:

[2015-01-21 01:20] gghai commented on #377
https://github.com/marklogic/marklogic-samplestack/tree/develop/browser  . says :

 "BUILD server: http://localhost:3000: This is the built application. Unlike the other services presented in the list, this one, the app itself, depends on the middle-tier application to be fully functional. Use the login credentials joeUser@marklogic.com, password joesPassword to view and search content restricted

[2015-01-21 01:45] popzip commented on #473
tooltips for me are currently blocking my ability to click off page reference back to original Stack Overflow question. Will that be addressed in current issue?

[2015-01-21 02:02] popzip commented on #469
date picker is fixed but the histogram bars no longer match the date picker. they are left as residual for whatever dates you had before you clicked clear. re-opening but if you think different issue we can break out into separate.

[2015-01-21 02:04] popzip commented on #467
it still looks a little strange for me when i severely minimize to as narrow as my browser allows. not sure we need to support that small. what is intended behavior / how did you test @gghai ?

[2015-01-21 02:09] popzip commented on #391
@laurelnaiad what's being deferred here? is it only upon load, or do dates never get populated in windows/IE?

[2015-01-21 02:10] popzip commented on #391
i agree its minor so i'm okay with pushing just want to understand where this arises. may need detail from @gghai to characterize.

[2015-01-21 02:51] popzip commented on #119
technical debt that is okay to push to 8.0-2?

[2015-01-21 02:52] popzip commented on #447
okay to push to 8.0-2? has anyone replicated this or is it more of a clean up task?

[2015-01-21 02:54] popzip commented on #351
per status meeting today - @grechaw to characterize whether its a server bug and whether fixable for 8.0-1.

[2015-01-21 03:25] #232 closed

[2015-01-21 05:48] gghai commented on #453
Ran another test with 01/20 ML test and latest develop code .

ofclan16-18-253:browser demouser$ gulp e2e --sauce=win7-chrome-37
[05:41:20] Starting 'clean'...
[05:41:20] Starting 'selenium-start'...
[05:41:20] using **self-tunnelled** SauceLabs Selenium server
[05:41:20] Starting 'middle-tier-start'...
[05:41:20] Finished 'middle-tier-start' after 25 ms
[05:41:21] Finished 'clean' after 922 ms
[0

[2015-01-21 05:51] gghai commented on #380
Tried running e2e --sauce=win7-chrome-37  with 01/20 ML and latest develop . Just copying the tail log as full logs not available for the copy/past option .

ck/specs/features/as-contributor/explore-docs-by-resolved-only.feature:15
    When I focus on the "last" search result
ck/specs/features/as-contributor/explore-docs-by-resolved-only.feature:16
    Then the result "title" is "Q: Show modal if

[2015-01-21 05:55] gghai commented on #452
Tried running the gulp e2e --sauce=win7-chrome-37 from the windows testing machine . I am seeing the Bad Gateway ; DNS error when resolving 'localhost:3000' . Domain name not found. Investigating further .

[2015-01-21 07:06] clockworked247 commented on #473
@popzip Good catch.  I did notice this today and intend the change to remedy the bug to be in with the PR that will close this issue.  Thanks for the heads up.

[2015-01-21 13:57] laurelnaiad commented on #380
There are tests that are known to be broken, please run with `--tags="~@broken"` parameter.

[2015-01-21 14:09] laurelnaiad commented on #453
Please use the --tags="~@broken" flag.

[2015-01-21 14:15] laurelnaiad commented on #452
This may be due to a problem in 57670384f3ac85322c557627eb93957250c707c4  .  I am in the process of testing whether reverting that commit fixes IE tests. If so, I will set this to retest -- while it may not necessarily be the same issue, it's likely enough that we should give it another go around.

[2015-01-21 14:23] laurelnaiad commented on #119
I would like to try to fix this one. It has been known to cause errors to be shown to the user.

[2015-01-21 14:24] laurelnaiad commented on #447
This is a real bug. I have half of a fix ready.

[2015-01-21 14:41] laurelnaiad opened #481 "recent changes break ie tests"
See an example of [the travis log](https://travis-ci.org/laurelnaiad/marklogic-samplestack/builds/47725968).

Commits 57670384f3ac85322c557627eb93957250c707c4 and 39ed0650a32054117f388e1bcb6fa46be76c14aa  had an interdepenency on each other with respect to angular-bootstrap component, so it is difficult to unwind them. They seem to be breaking the e2e tests. In particular, testing hangs in IE9.

I

[2015-01-21 16:16] laurelnaiad commented on #481
Latest theory is that the reason may be the difference between angular-ui-bootstrap v 0.11 vs. 0.12. If so, we may be able to keep our changes after tweaking Scott's customization of boostrap to be based on 0.11 instead of 0.12. @clockworked247 I recall you saying that 0.12 might be necessary for the current tooltip implementation -- is that correct?

[2015-01-21 17:22] grechaw commented on #424
Oh man, I just pushed seed data 1.8 yesterday without investigating this properly!

[2015-01-21 17:28] grechaw commented on #424
I've got a fix for this now.  I'll make sure I've combed through the other issues before bugging @dmcassel again.

[2015-01-21 17:37] grechaw commented on #367
Indeed, thanks.  I'd though it closed already.  The tests in any event are set to run now, and so QA may wish to verify, but there's no particular additional test task for @gghai

[2015-01-21 17:56] popzip commented on #380
are broken tests planned to be fixed (or else removed) for release?

[2015-01-21 17:58] laurelnaiad commented on #380
No, if you don't want to run the broken tests, you put "--tags=~@broken". This should **always** be present when QA'ing.

[2015-01-21 18:05] popzip opened #482 "add documentation on how to skip broken e2e tests"
If broken tests are expected to exist, need to include instructions in browser readme noting this is expected and instructing users how to run e2e and skip broken tests.

[2015-01-21 18:20] popzip commented on #283
I agree it looks like it works. However I am seeing one weird behavior, wondering if you can try to replicate @gghai - when i search for resolved:true and resolved:false, the 2 totals do NOT sum to the total questions when i am in browse mode showing all questions.

[2015-01-21 18:24] gghai commented on #380
Neither the  functional spec nor the git hub Read Me stated that QA has to ALWAYS run the gulp e2e  using  --tags=~@broken".  Thanks for confirming I ll use them from now onwards .

[2015-01-21 19:01] gghai commented on #367
./gradlew appserver working on 10.8 OSX platform . As jim already verified on 10.9.1 OSX marking this as fixed.

[2015-01-21 19:19] gghai commented on #374
No indication seen if the vote is already made  or not . When you do a vote up /vote down the arrow turned grey , with no indication what vote i made .

Also on the hover over the already voted answer I  see "You must be logged in to vote" tooltip .

[2015-01-21 19:24] gghai commented on #471
@popzip  I did the search to look for any xqy file in the repo(develop ) and found no results . Can you confirm if this include any more check we need to perform ?

[2015-01-21 19:30] gghai opened #483 "StackOverflow Off-Site link not working on QnA detail page"
Login as Joe
Goto any of  SO question
Click on the off-site link at top right corner when you are on QnA detail page

Not working in latest develop code. Link doesnt seem clickable .

[2015-01-21 19:30] yawitz commented on #467
I'd say a *broken* layout (such as the one shown above, with the search box defect) should be flagged as a bug, but "strange" (i.e. badly arranged) layouts at very small sizes (say, <400px wide at non-retina resolution) should not, since while we are using some responsive layout features of the Bootstrap framework, we didn't explicitly design for/anticipate mobile use.

That said, there are still

[2015-01-21 19:37] popzip commented on #471
That's probably a good way to verify.

Only other piece would be to confirm related tags is documented as not fully implemented (?).

[2015-01-21 19:38] laurelnaiad commented on #481
@clockworked247 , @wooldridge , please examine the last command that ran under this test: https://saucelabs.com/tests/ce0fc470e88a48e29861890c2bad8911

It appears the "Post Your Question" button is never finishing and the result of the click never comes back.

Will you guys run this through in IE and figure out whether or not the app works here and see if you can figure out why this test might be

[2015-01-21 19:41] laurelnaiad commented on #283
@popzip will you please post your URL for the search you're mentioning?

[2015-01-21 19:42] gghai commented on #283
yes i am able to reproduce the issue . resolved:true -> 1903 resolved:false -> 1085 ; but the total browsing doc count = 2989 ( that is 1 more ) .

Url : http://rh6-intel64-80-qa-dev-2:3000/

[2015-01-21 19:44] laurelnaiad commented on #283
resolved:true may not be the polar opposite of resolved:false by the way. When there is no value, you resolved:false => false, AFAIK...

[2015-01-21 19:45] laurelnaiad commented on #283
Someone please post the full URL (I.e. the one with the parameters)?

[2015-01-21 19:47] gghai commented on #283
Here you go . Login as joe and access below urls :

http://rh6-intel64-80-qa-dev-2:3000/?q=resolved:true
http://rh6-intel64-80-qa-dev-2:3000/?q=resolved:false
http://rh6-intel64-80-qa-dev-2:3000/ ( browse mode)

[2015-01-21 19:48] laurelnaiad commented on #374
There is already an existing issue for the feedback. This issue is about voteCount.

Please confirm voteCount here and use #270 for issues related to "Vote buttons should show up/down info after vote is cast", which is not in test, yet so no testing on #270 needed at this time.

[2015-01-21 19:51] laurelnaiad commented on #483
(this one was mentioned in #473)

[2015-01-21 19:55] laurelnaiad commented on #283
Right -- resolved:false would require that there be a value. You're missing the missing values, AFAIK.

@grechaw can we match on the absence of a value in the index? I kind of doubt it, and even if so I imagine it wouldn't perform well...

[2015-01-21 20:03] gghai commented on #471
Please pass this back to me once the documentation for the related tags is added . Thanks

[2015-01-21 20:04] popzip commented on #471
and i was referring to in code documentation here, as it makes sense.

[2015-01-21 20:08] grechaw commented on #371
I verified that the snippets are working as designed -- we just don't have a control right now to limit the number of text matches in one particular snippet match...  the first match above that is somewhat long looking would have to be truncated in the browser (or middle tier).  So what course of action should we take here?

[2015-01-21 20:14] grechaw commented on #351
Here's the behavior I've observed.  It's not a server bug, and acutally I don't think it's terrible for samplestack either but it could of course be modified.

Using preferred-matches (as we do) will use the specified elements for snippets if there are indeed matches in those elements... we use text and title as preferred matches.

If however a search matches other text, as it does with tag:xquery

[2015-01-21 20:14] laurelnaiad commented on #371
Is this why the same text seems to be repeated over and over again with different snippets within it called out (i.e. within one section, the keyword is repeatedly appearing? Is this is how the server returns it? Or is this how the array in constructed in the middle tier?

[2015-01-21 20:14] grechaw commented on #351
assigned to @popzip for prioritization and consideration.  LOE for a search-response transform fix to this is not high.

[2015-01-21 20:17] popzip commented on #283
why would we have any missing values? is this an element we inherit from SO or one we apply during ETL?

[2015-01-21 20:27] gghai commented on #374
Vote Up or Vote down count works fine inside the QnA details page .

One related behavior i am seeing is on doing (vote up or vote down)  ;the post tally on the QnA list is not getting updated correctly . i.e +1 for Vote up and -1 for vote down  .  Let me know if you need  a separate bug for this one .

[2015-01-21 20:39] yawitz commented on #351
FWIW, from a UX perspective I would not expect (or want) metadata matches to show up as snippets. So if I type *only* a metadata term (such as "tag:foo"), I would not expect to see *any* snippets in the result list.

[2015-01-21 20:53] laurelnaiad commented on #401
@grechaw, is there a trick to getting the substring applied? Is the spec above correct?

[code]
yields
[code]
which looks suspiciously like it hasn't applied the wildcard....

[2015-01-21 20:55] grechaw commented on #371
The middle tier isn't doing anything to the snippets --
Before the external bug was fixed, there was repetition, but now, you should only see the keyword repeated if there are multiple matches... I've not seen a case where text is reported more than once since the server-side snippet fix.   ?

[2015-01-21 20:57] grechaw commented on #401
Sorry, no trick -- I just realized in impl that there's only one arg possible, and that we have no use for the wildcard.

Edited the above --

use

"forTag" : "ja"

The value is just a substring match filter on the returned tags.

[2015-01-21 20:59] grechaw commented on #401
also, timezone is not supported here -- you'll probably get a 400 if you include it.  I know I need to go back and implement time-zone, and will make an issue.   Indeed in /v1/search time-zone needs modification too, as it's used to make the buckets, but not to adjust the search criteria from the date picker.

[2015-01-21 21:00] grechaw opened #485 "time-zone support in /v1/search and /v1/tags doesn't modify time query"
time-zone parameter on /v1/search is used right now to compute boundaries of buckets, but is ignored in a place where it should be - to qualify the dates included for the date picker constraint.

[2015-01-21 21:01] grechaw commented on #401
Created #485

[2015-01-21 21:01] laurelnaiad commented on #401
that takes away the ability to wildard only on the right side of the substring. Would it be possible to let the browser add the * (which it will do only on the right)?

Right now "j" yields  as the first result "activexobject", for instance....

[2015-01-21 21:02] laurelnaiad commented on #401
Timezone isn't breaking it.

[2015-01-21 21:02] grechaw commented on #401
Sure, it would be possible.  Probably not this PR though...

[2015-01-21 21:03] laurelnaiad commented on #401
So there's no way to have it match only things that start with the substring? Is this a sever bug?

[2015-01-21 21:03] grechaw commented on #401
good timezone isn't breaking - but still would be good to implement something

[2015-01-21 21:04] grechaw commented on #401
remember the forTag functionality is all middle tier -- it filters the list of tags from a /v1/values call.  I could certainly implement a start-only piece in there.

[2015-01-21 21:04] laurelnaiad commented on #401
I thought it was going to be a server-side transform?

[2015-01-21 21:06] grechaw commented on #401
That would have been one way -- same logic though, a post process of the JSON.

[2015-01-21 21:06] laurelnaiad commented on #283
We add the resolved property only when it is resolved AFAIK. @grechaw?

[2015-01-21 21:06] laurelnaiad commented on #401
Right but closer to the data. Seems like the "right" way to do it...

[2015-01-21 21:09] grechaw commented on #401
Could be refactored later...  I didn't see this case as a very compelling one either way.

But in any event, would you like an attempt to implement the wildcard now?

[2015-01-21 21:10] laurelnaiad commented on #374
I don't understand. Do you mean the vote count in the search results or something else?

[2015-01-21 21:11] grechaw commented on #351
That makes sense to me @yawitz
These things can be stripped out I think by the search response transform.  I'll take the external label off here and we can see how this stacks up against other outstanding requests today.

[2015-01-21 21:12] laurelnaiad commented on #351
We would need to have the server to parse the search string and decide whether or not there's free text in it. We chose not to do this long ago. What you're describing is an implication of that choice.

[2015-01-21 21:13] laurelnaiad commented on #371
Ok, maybe I imagined it. I will check again.

[2015-01-21 21:16] laurelnaiad commented on #401
We can disagree about the level of compellingness some other day! :)

I just checked the wireframes and the current behavior is what is specified, so please disregard the whole concept of wildcard on only the right.

I think we have a winner.

[2015-01-21 21:16] laurelnaiad commented on #401
Now if we could just get the rest of the app back into healthy shape. :)

[2015-01-21 21:18] grechaw commented on #351
Well we can also use the path of the match in the snippet to remove things we don't want returned.  You can tell from the search response path attribute whether the JSON properties "tag" or "lastActivityDate" were matched.

[2015-01-21 21:21] gghai commented on #374
On QnA list page.

![tally](https://cloud.githubusercontent.com/assets/6935682/5845370/50ad7e04-a170-11e4-921c-4a76c6e983b8.jpg)

[2015-01-21 21:21] popzip commented on #365
This does need to be on every source code file. So applying it to all files and making sure its 2015 apply to this task. Let's wait until after ship - it's a distraction for now and low risk. This will be an immediate post-8.0-1 task.

[2015-01-21 21:21] popzip commented on #365
hopefully can script it and do for all files at once.

[2015-01-21 21:22] grechaw commented on #401
Super --

So you might want to consider adjusting the number of characters typed before the call to /v1/tags -- It's entirely possible that single-character patterns should have been handled differently.  Just a hunch but something to look for.  MarkLogic by default starts indexing with three characters - a balance between scalability and speed of searches.  It's possible to turn on two-character

[2015-01-21 21:23] popzip commented on #365
when we revisit let's look at how best to do across the repo - and whether that means including java & browser files at same time.

[2015-01-21 21:24] grechaw commented on #365
Every source code file is much better than 'every file'

[2015-01-21 21:25] grechaw commented on #374
Does it update after a page refresh?  It could be a bug in Java if it's not updating at all.

[2015-01-21 21:26] laurelnaiad commented on #401
Stackoverflow has single-character tags (e.g. "C"), so we'd have no way to search for them....

[2015-01-21 21:27] popzip opened #486 "Clarify appserver task"
Charles - per our discussion this week can you clarify in the gradle build file what appserver task includes, and possibly group together the println and dependencies?

[2015-01-21 21:28] grechaw commented on #401
Not at all, a single-character tag would be index by the universal index and by the word index.

The single-character index, which really should never be used, would be for quickly locating all of the letter 'c' instances inside any word.

[2015-01-21 21:29] gghai commented on #374
Its not updating i tried refresh .

[2015-01-21 21:35] grechaw commented on #401
Ah, I didn't address your concern there @laurelnaiad , go ahead and send the single-character, makes sense to me.

[2015-01-21 21:35] clockworked247 commented on #481
I can confirm that with @laurelnaiad 's browser-develop, we are still seeing failures on saucelabs with the tooltip and datepicker changes removed.

Update on tests for SauceLabs tests for Win7 on IE9.   @wooldridge and I were able to reproduce *an* issue https://saucelabs.com/tests/3707a15f6c494b19bd280c89068b4135 which shows a hang after joe log into the app.

After talking with Gaurav, it seems

[2015-01-21 21:36] laurelnaiad commented on #374
Should the values be coming from a single place? Are we duplicating the vote counts in the db?

[2015-01-21 21:42] laurelnaiad commented on #481
See if it's related to the ng-tags-input directive, please. I don't trust it in IE9 (e.g. https://github.com/marklogic/marklogic-samplestack/issues/457).

[2015-01-21 21:43] laurelnaiad commented on #481
please ignore this one (https://saucelabs.com/tests/3707a15f6c494b19bd280c89068b4135) for now and let's focus on the one that has been hanging us most of all... we can come back to that one once we've settled "Post a Question".

[2015-01-21 21:46] clockworked247 commented on #481
Update:  When loading the app for the first time on appw7-brwt-3, the header loaded, but not the filter bar.  Observed spinner in below header just sitting.   On manual refresh, the page loaded fine.  This appears to be our timeout issue.

After page loaded, I manually tested the "Post a Question" and it worked fine in IE9 on appw7-brwt-3.

Will continue to investigate the timeout issue on appw7-b

[2015-01-21 21:48] laurelnaiad commented on #481
Make sure the middle tier has been warmed up before you have any expectation of getting off of that initial spinner. I think this particular issue is a red herring due to super slow Windows machine and very slow JVM warm up.

[2015-01-21 21:50] grechaw commented on #374
@laurelnaiad yes, now im confused.  Let me look more closely at this issue and see what im missing.

[2015-01-21 21:56] grechaw commented on #374
@gghai I think we need better reproduction -- this worked for me multiple times:

1. search for something
click through to QnA
2. vote.  voting is rather slow... we know how we could improve though.
click back button
the voteCount for that doc is updated.

of course if you vote one thing up and another down, then the voteCount would be unchanged.

[2015-01-21 21:57] yawitz commented on #283
If that were true, wouldn't the discrepancy that @gghai reported be much larger? (I also assumed that the resolved values were applied on ingest.)

[2015-01-21 22:03] gghai commented on #374
@grechaw  you are correct . Could be possible i might have ran into a situation where i vote up and vote down and that caused the number to be unchanged .

I did verify it again seems to be working. sorry for the churn .

[2015-01-21 22:04] grechaw commented on #283
It should be false if it's not true.   So there's one record that's missing the value, almost certainly one of the joe+mary records, which were made by hand.  I think it's a nice discussion point about missing values :)

[2015-01-21 22:05] popzip commented on #283
Okay i'll raise it for looking into further at a later point.

[2015-01-21 22:06] grechaw commented on #283
It's very easy to identify what the offending data is...

[2015-01-21 22:06] popzip commented on #283
okay - but with it being one record, not worth fixing for now

[2015-01-21 22:07] popzip opened #487 "Find missing resolved value(s) in seed data"
Per #283 discussion, resolved:true + resolved:false does not equal total documents. At least one document missing a resolved value. Look into fixing seed data.

[2015-01-21 22:09] yawitz commented on #401
Quick question: when a single char is typed, I see the value in *not* returning all results that contain that char, but I do see the value in returning all results that *start* with that char. Is it possible to switch the matching rule depending on the length of the typed string? (I'm assuming this would be an RFE, not a bug with the current version.)

FWIW, the current implementation *does* follo

[2015-01-21 22:13] grechaw commented on #401
I agree, that makes the most sense.

[2015-01-21 22:25] yawitz commented on #401
*Just to be clear:*
I'm not proposing making this change at this time. I'll fire off an RFE that we can discuss at a later time.

[2015-01-21 22:26] laurelnaiad commented on #401
@yawitz the changes aren't available, yet. You're not seeing the latest....

[2015-01-21 22:27] popzip commented on #351
I'm unclear how this issue is separate from the discussion/resolution reached in: https://github.com/marklogic/samplestack-internal/issues/179

We determined the scope for text search should be limited to: Title, Text (of question), Answer text, Comment text.

I made an erroneous 'therefore', but there is an AND that snippets should only display matching text found in the 4 fields within text sear

[2015-01-21 22:27] laurelnaiad commented on #487
Interesting. I would have thought that all of the docs which are unresolved from SO would have no resolved value.... are you saying some of them do?

You probably meant @grechaw for the assignment . :)

[2015-01-21 22:34] yawitz opened #488 "Use adaptive matching rules for tag search box"
As a result of the discussion in #401, starting at https://github.com/marklogic/marklogic-samplestack/issues/401#issuecomment-70924303, I'd like to propose a change to the behavior of the tag search box.

In the current design, the suggestion list includes all tags that contain the search string, even if the search string contains 1 char. I propose that we apply a different matching rule depending

[2015-01-21 22:35] yawitz commented on #401
Understood. I'm still assuming the behavior will follow the wireframe description (i.e. matching the search string anywhere). I'm proposing that, in the future, we consider a modified design. (I posted it as an RFE as #488.)

[2015-01-21 22:35] grechaw commented on #283
hm, seed data checks out.

[2015-01-21 22:36] grechaw commented on #283
Well, that other issue is open- we'll find the offending data.

[2015-01-21 22:38] laurelnaiad commented on #283
It may be new QnA docs. I didn't realize we were ever going to have resolved:false, so it's probably bot being set on new questions. We can take that as a fix.

[2015-01-21 22:40] grechaw commented on #283
The middle tier will take care of that...  I doubt you'll find it's a browser bug.

[2015-01-21 22:41] laurelnaiad commented on #283
So you set resolved:false even when we post a QnA doc with no resolved
property?​

[2015-01-21 22:42] grechaw commented on #283
yes, that's right

[2015-01-21 22:43] laurelnaiad commented on #283
Ok.

[2015-01-21 22:45] grechaw commented on #486
Actually I included that as part of a PR this morning, at least the ordering part.   Having them together makes it slightly more obvious what happens when you use appserver.  you can take a look at my 'csrf' branch to see the changes.

[2015-01-21 22:48] laurelnaiad commented on #476
I don't think I see this bug even prior to fix....

[2015-01-21 22:49] grechaw commented on #351
That's what I was looking for, the when not the whether.
I don't see it as a big blast radius change.

One think that we need to keep in mind, as I was reminded by @ehennum recently, is that it will be very valuable to have a list of things for which MarkLogic capabilities didn't seem to fix OOTB, so that we could drive some feature development server-side.

This is an example of server functional

[2015-01-21 22:53] grechaw commented on #351
https://github.com/marklogic/samplestack-internal/issues/179#issuecomment-66164173

There is Mitch's assertion about snippets in particular

[2015-01-21 22:55] popzip commented on #351
Okay that all sounds good. Not sure if directly related to this issue but I'd also like to get documented in plain english how the relevance tuning works here (relative priority/weighting, etc).

[2015-01-21 23:00] laurelnaiad commented on #40
I get `401 Unauthorized` when the `OPTIONS` request from the browser for CORS is attempted.

[2015-01-21 23:16] gghai opened #489 "options.js missing osx10.8 entries"
Adding a osx10.8 should be reasonable here as that is our supported platform instead of 10.9

    'win7-chrome-37': { platform: 'Windows 7', browserName: 'chrome', version: '37', deviceName: '' },
    'win7-firefox-32': { platform: 'Windows 7', browserName: 'firefox', version: '32', deviceName: '' },
    'win7-ie-9': { platform: 'Windows 7', browserName: 'internet explorer', version: '9', deviceNa

[2015-01-21 23:19] laurelnaiad commented on #489
The only browsers available on 10.8 are Chrome. I can add osx10.8-chrome-37 if you want.

[2015-01-21 23:29] grechaw commented on #351
OK I've got the search transform modified, looks like it addresses the issue.

[2015-01-21 23:35] gghai commented on #489
Please add osx10.8-chrome-37 .  Probably we can add a comment in the option.js mentioning osx10.8-firefox-32 is not available on sauce

[2015-01-21 23:48] laurelnaiad commented on #443
It looks like the server is giving 500 errors if a visitor tries to see an unaccepted qnaDoc.

Steps to reproduce:

- create a new question, copy and past the `/doc/{guid}` url for use below
- log out
- paste and go to the url saved above

The server throws 500 instead of a 400-level error. This is going to throw of "Page Unavilable Handling", so assigning to @grechaw

Try to

[2015-01-22 00:02] gghai opened #490 "gulp e2e"
Can you confirm if any of the below commands i should NOT be verifying for the 8.0-1 release .
Are these gulp commands operating system independent ?
Can I run the below command from the mac testing machine  where sauce=linux ? if yes i am seeing error want to me sure its in scope first

gulp e2e --sauce=linux-chrome-37 --tags='~@broken'

gulp e2e
gulp e2e  --browser=chrome
gulp e2e  --browser=ff

[2015-01-22 00:09] gghai commented on #490
Please review it and let me know if anything is missing or need to added/dropped .

[2015-01-22 00:09] grechaw commented on #40
OK, I've looked into CORS somewhat -- what I'm seeing.  I've cribbed a very simple CORS implemenation, basically wide-open, but I'm curious what other requirement I'm missing...

WIth every request, 401 or not, I'm getting back some headers that specify the CORS configuration.  I'm not sure what else is needed....   would you expect OPTIONS to be a 200 on all the endpoints?

(In other words, I thi

[2015-01-22 00:14] laurelnaiad commented on #40
Yes.

I need to add configurability. I thought it was there but it wasn't. (Doh! I had added a comment that I needed to do it but hadn't done it yet!)

This line let's you force it:
https://github.com/marklogic/marklogic-samplestack/blob/676d998e64a7b36935a406ecc140d4f52397b199/browser/src/_marklogic/services/data/mlModelBase.js#L130
[code]

[2015-01-22 00:16] grechaw commented on #40
OK Cool, thanks much. I think I've already got a fix.

[2015-01-22 00:16] grechaw commented on #40
[code]

[2015-01-22 00:17] grechaw commented on #40
Does this

`Access-Control-Allow-Headers: x-requested-with, content-type`

need to have the CSRF headers in it too?  Is that what this is for?

[2015-01-22 00:28] clockworked247 commented on #481
Update:  I was able to run the W7 IE9 sauce command from the linux box and it passed.  https://saucelabs.com/tests/69559d27a2014ed5a370c064a24aa4c5
from rh6-intel64-80-qa-dev-2
So I wasn't able to repro what Travis was seeing.

So for both Mac and Linux, tests are passing fine for W7 IE9.   This may be a Travis specific problem.

[2015-01-22 00:30] grechaw commented on #40
I think I'm in good shape :)  my login failed because of csrf.  curious about the above question but will make a commit that fixes this.

[2015-01-22 00:32] grechaw commented on #443
Got it.

[2015-01-22 00:41] grechaw commented on #283
I'll set back to ship how it was -- @popzip opened new issue #487 for it.

[2015-01-22 00:46] laurelnaiad commented on #490
I wouldn't spend that much time verifying the e2e task. This is what I was trying to say in email this morning.

It's there to help us figure out if the app works, not to vet every single way to run it. I would deprioritize coverage of the various ways to run it and use it as a tool to find issues with the app.

That said, some notes:

- **the e2e tests on the develop branch are known to be screwy

[2015-01-22 00:50] grechaw commented on #476
:)   this is only in the forTag case ... it wasn't just pageLength that needed fixing, but start as well.

without forTag, we're retrieving just what the MarkLogic REST service provides, and start is a server-side parameter.

with forTag, we want start to be the nth tag matching the pattern, and pageLength to be the number of tags returned.  So we have to use start=1 for the ML REST call, and then

[2015-01-22 00:52] laurelnaiad commented on #40
The browser would need CORS support on the GET v1/session call, if that's what you're asking.

If CORS is on it should be on for all endpoints (w/OPTIONS on all endpoints, including GET /v1/session).

Theoretically you could restrict CORS to just localhost:3000 instead of `*`. Is that part configurable or buried in code. For prod deployments `*` probably isn't what people would want....

[2015-01-22 00:53] laurelnaiad commented on #40
I don't have your CSRF branch merged yet, so my OPTIONS failure probably wasn't related to CSRF, FYI...

[2015-01-22 00:55] grechaw commented on #40
That's understood (configurability of hosts).  I'll make sure that's well documented, that is, that the CORS support in this middle tier is sample code at the moment.

It's pretty clear how to take this code from where it is to a better spot though, so maybe we can get that done.

on CSRF, yes, that's understood.  I was trying to login to my csrf-enabled middle tier, with expected ungood results.

[2015-01-22 00:56] grechaw commented on #40
Speaking of which, better to add commits to my csrf branch or hold off?

[2015-01-22 00:56] laurelnaiad commented on #40
You can add. Please just leave a note in cases where you do so that it's clear that the target moved :)

[2015-01-22 01:48] grechaw commented on #443
Seems a 404 is appropriate here no?  (I have such a fix in hand)

[2015-01-22 01:50] laurelnaiad commented on #443
I think so -- our security model leaves you unable to tell whether it's due to permissions or complete absence of the doc, right? Hence 404 sounds good.

[2015-01-22 02:27] clockworked247 commented on #483
Fixed code committed to my "app-wide-tooltips" branch (https://github.com/clockworked247/marklogic-samplestack/tree/app-wide-tooltips).  As requested, I will create PR once we're clear what is going on with the e2e test errors (https://github.com/marklogic/marklogic-samplestack/issues/481).

[2015-01-22 02:27] clockworked247 commented on #473
Final fixed code committed to my "app-wide-tooltips" branch (https://github.com/clockworked247/marklogic-samplestack/tree/app-wide-tooltips).  As requested, I will create PR once we're clear what is going on with the e2e test errors (https://github.com/marklogic/marklogic-samplestack/issues/481).

[2015-01-22 02:30] clockworked247 commented on #390
Not reproducible by Gaurav or I.  Deferring to 8.0-2.  This is more of a code refactoring task than anything and not critical to the release.

[2015-01-22 02:44] laurelnaiad commented on #390
I can reproduce it and fix it.

[2015-01-22 02:48] laurelnaiad commented on #390
You need either fast fingers, an e2e test or a slow machine.

I just got it:

Exception:

Cannot read property 'name' of undefined
Stack trace:

{anonymous}()@http://localhost:3000/app/directives/ssFacetDateRange.js:366:49
Object.forEach@http://localhost:3000/deps/angular/angular.js:323:20
{anonymous}()@http://localhost:3000/app/directives/ssFacetDateRange.js:362:25
{anonymous}()@http://localhost:

[2015-01-22 03:37] clockworked247 commented on #390
You're good.  :)  Thanks for looking at it.

[2015-01-22 08:35] laurelnaiad commented on #465
IE9 doesn't support placeholders. We gave it a try by forcing it using a shim but it broke other things and was a very heavy solution, also.

We can revisit this later if we're still supporting IE9.

[2015-01-22 08:40] laurelnaiad commented on #401
Tags typeahead and browse-tags dialog ready.

TODO is the ask page typeahead/validation.

[2015-01-22 08:43] laurelnaiad commented on #394
Set the browser to 30 second time out. I'm assigning to @gghai as 30 seconds should be more than enough. Please follow up in #395 if this persists.

[2015-01-22 08:46] laurelnaiad commented on #391
It's the placeholders. IE9 doesn't support them and the shims to force the issue break cause other problems. This is a dupe of #465. Let's try to hold down the dupes! :smile:

[2015-01-22 09:03] clockworked247 commented on #469
@popzip I'm unable to reproduce any issue with the clear button not effecting the histogram chart selection state.   I do however notice a delay in the chart after the button is clicked.  You have to wait a good second before the selection is cleared.  That might have been what you saw?

Passing this back to @gghai to test your scenario as well and verify it works for that as well.

[2015-01-22 09:06] laurelnaiad commented on #469
Which branch are you testing, @clockworked247 ? I think she mentioned this issue when your date range changes were in (which they're not in browser-develop now AFAIK)....

[2015-01-22 10:33] laurelnaiad commented on #443
Look out, this issue may close due to a stray message. It should remain open until the browser-side of the work is finished.

[2015-01-22 11:03] laurelnaiad opened #491 "retire IE9"
I think we should retire IE9 support in Samplestack (soon). It has 2.25% market share. It is very expensive if not impossible to support it well.

[2015-01-22 11:15] laurelnaiad commented on #250
This shouldn't really be assigned to me. It's a gradle thing...

[2015-01-22 17:45] laurelnaiad opened #493 "/v1/tags aggregate-result missing"
/v1/tags as of last commit is missing `aggregate-result` property.

[2015-01-22 17:58] grechaw commented on #493
Very quick fix.

[2015-01-22 19:05] grechaw commented on #371
I think this is working as expected -- there was another issue to track highlighting, which is also checked in.

[2015-01-22 19:15] grechaw opened #495 "Browser issues three identical POSTs for every search"
Seems like a bug to me -- in watching network traffic while using samplestack, I notice that every POST to /v1/search is sent three times.  The searches don't seem to differ from each other.  Could be contributing to warmup issues, as the first searches will all be against cold MarkLogic caches.

Just curious about it -- do what you will with this issue.

[2015-01-22 19:45] gghai commented on #481
When i ran the below command on the mac app installation with  latest develop code :

gulp e2e --sauce=win7-ie-9 --tags='~@broken'

in sauce screen cast i am seeing : Can you please confirm what can be causing it .

![ie9](https://cloud.githubusercontent.com/assets/6935682/5863120/0835af2c-a22c-11e4-9911-b2dfd7ebacfd.jpg)

[2015-01-22 19:56] clockworked247 commented on #469
@laurelnaiad All the date range changes are indeed in on your browser-develop and origin/develop.  I wasn't sure if they were in with all the "upheaval" due to the e2e issues.  But when I looked last night, it was in and I have also verified today that everything is in on your browser-develop and origin/develop.

[2015-01-22 20:05] laurelnaiad commented on #495
No its by design and they arent identical. This is why i wanted the searches to be batchable.  Those arr shadow  queries.

[2015-01-22 20:34] laurelnaiad commented on #495
Please refer to #404

[2015-01-22 21:07] wooldridge commented on #427
Discussed with @yawitz, he is OK with the menu not having the triangle. Also shifting menu to left to align menu list text with input text (can do this with CSS).

[2015-01-22 21:18] popzip commented on #427
@yawitz ok for now or ok as in changing wireframes/skinning requirements?

[2015-01-22 21:36] yawitz commented on #427
OK to drop the triangle for good, since the component we're using doesn't support it (and I don't think it's essential from a usability perspective). We should just be sure to be consistent across all dropdown lists and boxes. (We don't use a triangle for the user account popup hanging off the logged-in user's toolbar, and we should be consistent for the tag suggestions in the Ask page, and any ot

[2015-01-22 21:43] gghai opened #496 "error on on typing in a tag string"
Goto homepage
Login as joe
Type in jquery in the tag dialog box ( search)
Error is coming on UI .
![serach tags](https://cloud.githubusercontent.com/assets/6935682/5865201/84076694-a23c-11e4-9ff4-b13e027ee083.jpg)

[2015-01-22 21:43] gghai commented on #496
![tag type](https://cloud.githubusercontent.com/assets/6935682/5865222/b0d84f44-a23c-11e4-951c-b7fa8cfcbb13.jpg)

[2015-01-22 21:53] gghai commented on #447
Went into http://rh6-intel64-80-qa-dev-2:3000/doc/soq25820489

added a comment ( Linux ML 01/22 and latest develop code)

Error is seen at the top .

![comments error](https://cloud.githubusercontent.com/assets/6935682/5865413/0afb0a60-a23e-11e4-92fc-850d78189b06.jpg)

[2015-01-22 21:57] laurelnaiad commented on #496
That's just one if the reasons the tags uber issue isn't  in test. :)

[2015-01-22 22:06] clockworked247 commented on #412
PR https://github.com/laurelnaiad/marklogic-samplestack/pull/57 is in that fixes the IE9 issue.  Once that's merged, this can go to test.  Thanks!

[2015-01-22 22:15] gghai commented on #448
Answers are sorted correctly . Did a sanity on few questions . Above url not working any more.

[2015-01-22 22:35] gghai commented on #489
ran gulp e2e --sauce=10.8-chrome-37 --tags="~@broken" from mac and test ran fine on sauce .

[2015-01-22 22:50] popzip commented on #427
nope sounds good, thanks for the update.

[2015-01-22 22:54] gghai commented on #473
Verified all of the one listed on the wiki . That excludes Paging Control and Markdown editor .

Under Posts (Questions/Answers/Comments)  Reputation tool tip seems to be missing .

[2015-01-22 23:00] gghai commented on #469
Able to reproduce what @popzip  has encountered with latest develop branch and ML server .

[2015-01-22 23:00] gghai commented on #469
I was on Mac Browser = Chrome 37 when i verified it .

[2015-01-22 23:02] clockworked247 commented on #473
@gghai Yep, got lost in the branch shuffle.  Thanks.  PR on the way.

[2015-01-22 23:03] gghai commented on #424
With latest seed data 1.8 approval state is seen for the marys question number 0 ( with answer as accepted on QnA details page)

[2015-01-22 23:08] gghai commented on #394
With today latest develop code and i still see the first time IE browser is not loading the app completely .Cleared the browser cache /cookies . Please assign this back to me when the #395 is fixed and appropriate browser time out reaches a equilibrium state . Thanks

[2015-01-22 23:15] laurelnaiad commented on #394
It doesn't look like a browser issue. The middle tier isn't responding within 30 seconds.

[2015-01-22 23:17] clockworked247 commented on #469
I tried two different scenarios, one focused on the date field values, one focused on the date picker popup.

Here are the steps I perform, tell me if that is what you are doing:

Scenario 1 - Chart selection
-------------------
1) drag select a date range
2) see results change and selected range on chart change
3) Click "Clear Dates"
4) See results change, and after a second, see selected range o

[2015-01-22 23:20] gghai commented on #469
Below is what i performed

Deploy the app
Open the calender to pick the start date
Select eg 01/08 from date picker
Again open the start date picker
Now click on Clear
Now if you see the date goes back to the 06/01/2009 date
Now click on the calender date picker again
calender date does get cleared off to the default date

One step forward look at the histogram bar , they didnt return back to the

[2015-01-22 23:21] gghai commented on #390
Not able to reproduce . Marking it as done. Thanks for adding check around it .

[2015-01-22 23:37] clockworked247 commented on #469
Ok after a quick call with @gghai we figured out the different in our two scenarios.  I used "Clear Dates" above the chart.  @popzip and @gghai were using the "Clear" button from within the pop-up.   So many clear buttons!!  :)

With that, I can reproduce.  Working on a fix now.

[2015-01-22 23:45] gghai commented on #443
Tried the below link without login  http://rh6-intel64-80-qa-dev-2:3000/ask  -. It shows me the Ask Question page instead 404 should be seen .
2) Access http://rh6-intel64-80-qa-dev-2:3000/foobar gets redirected to http://rh6-intel64-80-qa-dev-2:3000/404 . Also 404 page as mentioned in the wireframes is not seen

Passing this back for more investigation .

[2015-01-22 23:51] laurelnaiad commented on #443
This shouldb't have gone to test, it's not done.

[2015-01-23 00:00] gghai opened #498 "Error with vote"
Login as joe
Sort by Votes
Open 1st question  .

http://rh6-intel64-80-qa-dev-2:3000/doc/soq1028250

Try to vote up the Question itself

Error
![vote](https://cloud.githubusercontent.com/assets/6935682/5867359/cb4170dc-a24f-11e4-8a79-1d702c4d13a8.jpg)
 is thrown.

[2015-01-23 00:01] grechaw commented on #405
Hi, I'm closing this out as inactive -- @seongbae-ml, feel free to get hold of me or any of us to walk through what's going on with your environment; we feel pretty confident there's an environment issue.  THen again our release is going to be out shortly...

[2015-01-23 00:03] gghai commented on #498
Playing little more with the vote on same question on IE9 browser . I was able to vote up and vote down on same answer  .

Exception:
 •Error occurred: {"data":{"timestamp":"2015-01-23T00:02:12.201Z","status":400,"error":"Bad Request","exception":"com.marklogic.samplestack.exception.SampleStackDataIntegrityException","message":"Bad Request","path":"/v1/questions/soa1028642/downvotes"},"status":400

[2015-01-23 00:04] grechaw commented on #395
I've experienced this now.  It's somewhat mysterious, but it's actually MarkLogic taking a while to respond to the first query -- I think that bucket resolution the first time for the dates is a long operation.

I'd suggest that it might get quicker if you prime the pump so to speak with just one query to /v1/search.  In the initial state there are no shadow queries, so the three initial /v1/searc

[2015-01-23 00:05] gghai commented on #498
![vote up and down](https://cloud.githubusercontent.com/assets/6935682/5867406/7eca8bb6-a250-11e4-9f85-33be3f724721.jpg)

[2015-01-23 00:07] laurelnaiad commented on #395
That's kind of a complicated workaround as opposed to a gradle step.

Here's what I do in the e2e tests so that this doesn't happen.  Can't we put this at the tail end of the startup process (but in Java)?

[code]

[2015-01-23 00:11] gghai commented on #269
Voting button color are seeing now . I am seeing voting functionality error which i have added in https://github.com/marklogic/marklogic-samplestack/issues/498

[2015-01-23 00:13] gghai commented on #476
Tried filtering via tags and pagelength are seen correctly . @laurelnaiad  can you please what more need to be tested here ?

[2015-01-23 00:21] gghai commented on #371
I am marking this as fixed. @popzip  @yawitz   Please raise a separate issue on snippet  related improvement that is required post 8.0-1 . Thanks.

[2015-01-23 00:22] grechaw commented on #498
I'll check this out.

[2015-01-23 00:26] grechaw commented on #498
I cannot reproduce this in the current develop branch @gghai   Voting is working very nicely.

[2015-01-23 00:26] gghai commented on #498
Can you try with http://rh6-intel64-80-qa-dev-2:3000/doc/soq1028250

[2015-01-23 00:27] grechaw commented on #498
Works for me there too !

[2015-01-23 00:32] gghai commented on #270
Verified .

[2015-01-23 00:52] gghai commented on #351
Date/time string not showing up in snippets when date constraint is applied

[2015-01-23 01:13] popzip opened #499 "Document relevance logic"
Need a wiki or readme that documents in plain english how the relevance works in Samplestack (relative priority/weighting, etc), how it can be tuned (pointer to docs reference information?), and how it can be demonstrated and/or tested. See narrative for specific guidance on what should be more important. Also note search scope for search text is limited to Q title, Q text, A text, Comment text (n

[2015-01-23 01:17] gghai commented on #362
Issue mentioned in the comments is fixed.

I am again logged in on 2 separate browser (  ff / chrome on mac ) as mary and joe . Marys post a answer to Joe Question 2 and joes accept it .  I need to refresh the browser (  Mac / Chrome 37 in this case ) to see the updated reputation for Mary . Per you above comment i see its mentioned refreshed should not be required on browser side . Passing back f

[2015-01-23 01:25] grechaw commented on #499
Thanks for the reminder.  To get started here,

`database/database-properties.json` is where to find index and field configuration for the samplestack database.  The default search is tied to a field defined in this file:

[code]

This field includes the various parts of QnADocuments that are searched with bare (non-prefixed) searches.  If a term is found in the title of a question or the main bod

[2015-01-23 01:25] gghai commented on #241
Seeing a behavior where the comments are not sorted correctly on Mac / Chrome combination .Havent tried on all combination yet .

Login as joe
sort by Votes
Pick the 1st question .

Comments for the Answer response 1 is not sorted correctly .
![doc - samplestack](https://cloud.githubusercontent.com/assets/6935682/5868241/ab75b57c-a25b-11e4-971a-7ebf6dacd045.png)

[2015-01-23 01:37] gghai commented on #119
tried few scenario . Typed in search string marklogic ( while the results are in process to be returned )  applied date filter .  Finally when the results did came back they have both search string and date filter applied . Another one tried is while i was changing the date filters i cleared the search string .

[2015-01-23 01:58] popzip commented on #485
guessing on this milestone.

[2015-01-23 01:58] #405 closed

[2015-01-23 02:06] popzip commented on #486
looks good to me. passed on to greg to see if that helps clarifies.

[2015-01-23 02:19] laurelnaiad commented on #493
I can confirm that this one is fixed.

[2015-01-23 03:11] wooldridge commented on #435
I see this working. Guests (users not logged in) are shown messaging at the bottom of the QnA doc page. Logged-in users are shown the answer form. @gghai, are you seeing something different?

[2015-01-23 17:50] laurelnaiad opened #502 "smart matching?"
http://localhost:3000/?q=%22still-good%22

(searches for "still good" (incl. quotes).

Returns one match whose snippet highlights the text "**still better**".

Are we using a dictionary to do this equivalency between the words "good" and "better"? Is this desired?

/cc @popzip @yawitz

[2015-01-23 17:50] laurelnaiad commented on #502
Also, are we searching comments? It doesn't seem like it. A lost of the time what people are seeking turns out to be content in comments.

[2015-01-23 17:55] laurelnaiad commented on #476
This particular bug was one that I never noticed. Charles explained that it was a "sometimes" bug and that's about all I know. See followup issues from Mike re: what is and isn't ready for testing w/respect to tags searches.

Re: this one, I would leave it to @grechaw to help you understand how this *was* reproducible.

[2015-01-23 18:08] yawitz commented on #502
The design (as captured in the wireframes) *does* call for searching comments.

Also, as per Daphne's top post, I assume we want our search to follow/demonstrate MarkLogic conventions and strengths, which I assume would include matching equivalencies. (I'd also assume quoted phrases to be matched as a phrase, but perhaps I'm misunderstanding MarkLogic conventions.)

[2015-01-23 18:11] laurelnaiad commented on #481
THhis is in the category I was describing in my email -- sometimes IE9 just bomb during tests. Please try a few times. If it continues to hang **on the same** test more than a couple times, let's dig deeper. Otherwise this is just the best we've been able to do with testing IE9.

[2015-01-23 18:48] popzip commented on #201
One other update on this - wanted to share a link to a blog post announcing mlvm:
http://developer.marklogic.com/blog/gh/mlvm

[2015-01-23 18:54] popzip commented on #215
left this one open to provide better documentation to the community on tested versions. sent a draft to daphne/gaurav and will post to wiki later today.

[2015-01-23 19:02] gghai commented on #412
Working on IE9 now.

[2015-01-23 19:27] gghai commented on #471
Code doc added for the related tags too .

[2015-01-23 19:31] gghai commented on #425
Tags with 0 count not showing .

[2015-01-23 19:36] wooldridge opened #503 "Tags endpoint: Tags count incorrect"
I believe the /v1/tags endpoint is returning the incorrect total number of tags in its responses.

To reproduce:

View More Tags dialog, NOT LOGGED IN, app makes call to endpoint:

[code]

Result is...

aggregate-result[0]['count'] = **5157**
distinct-value = array of 18 objects with _value ('javascript') and frequency (1041)

18 tags displayed per page, so 5157/18 = **expect 287 pages to display*

[2015-01-23 19:37] laurelnaiad commented on #502
I would have thought putting quotes around the text would force it to be exact (in fact, that was why I did it)... this is how google works, FWIW.

[2015-01-23 19:43] yawitz commented on #502
Agreed. Perhaps that aspect needs to be enabled? @grechaw?

[2015-01-23 19:44] popzip commented on #502
can we wait to delve into this until after release? agreed we should look into.

[2015-01-23 19:46] laurelnaiad commented on #502
Fine with me re literal searches in quotes.

However, I still want to understand why it is that a comment I entered on a question wasn't found when I searched for the text that was in the comment.

[2015-01-23 19:47] gghai commented on #427
Worked with Mitch on this . Looks good . One related bug is under dev .

https://github.com/marklogic/marklogic-samplestack/issues/428

[2015-01-23 19:48] popzip commented on #502
log a separate bug for the comment issue. as mitch said it SHOULD be searching comment text.

[2015-01-23 19:48] gghai commented on #470
Worked with Mitch on this one . Looking good .

[2015-01-23 19:52] laurelnaiad opened #505 "tags lookup/validation on ask question"
Enable lookup of tags when asking question, validate that only valid tags are used.

[2015-01-23 19:56] laurelnaiad commented on #401
Tags-related features should be expected to work now, with the exception of these issues which are not yet ready for test and are being tracked separately:

- #505 tags lookup/validation on ask question -- use this issue to track anything tags-related on the ask page
- #440 also ask-related

[2015-01-23 19:59] gghai commented on #473
It seems certain tool tips are still missing . I will do another round on all tooltips(mentioned on wiki) and assign this bug to dev with complete list .

1) unaccepted checkmark tooltip for accept and answer not having tooltip .

[2015-01-23 19:59] wooldridge commented on #503
Chatted with @grechaw a bit and it turns out this value:
[code]
Is not the total number of tags in the results set, but rather is the sum of all the frequency values for all the tags in the result set.

We need the total number of tags in the results set for pagination. @grechaw is looking into how to offer this.

[2015-01-23 20:00] laurelnaiad commented on #473
Sorry, just realized that you were trying to hold onto this until you'd made a full pass. That's much appreciated! :)

[2015-01-23 20:06] laurelnaiad opened #506 "search for comment"
- log in as Joe
- to the first question, add a comment, `still good`
- search for that text, `http://localhost:3000/?q=%22still-good%22`.

The question isn't found.

[2015-01-23 20:06] laurelnaiad commented on #502
Re searching comments: #506

[2015-01-23 20:07] gghai commented on #431
verified .

[2015-01-23 20:09] laurelnaiad commented on #443
FYI, I want to get the functionality of this in prior to cutting release branch, and we can work out style as a controlled checkin since the style would be low impact.

[2015-01-23 20:10] gghai commented on #428
I am at bash$ git rev-parse HEAD
2dcc2f0fa6136a2ee0215ed8bba6cfc43d82212e

clear button is not visible.. Can you please confirm if i need more recent code base ?

[2015-01-23 20:14] laurelnaiad commented on #428
As of this moment, https://github.com/marklogic/marklogic-samplestack/commit/d24bb62aa5beb90079e281983b4abfabddab3466 is HEAD, and that doesn't seem to be recent enough: see the list of commits in order: https://github.com/marklogic/marklogic-samplestack/commits/develop

[2015-01-23 20:47] grechaw commented on #425
wait a minute! what's a zero-count tag?
A tag that doesn't exist in any document isn't a tag at all.. ?

[2015-01-23 20:50] gghai commented on #435
This seems to be working fine.

[2015-01-23 20:50] yawitz commented on #425
The counts of tags shown in the tag filter list reflect the current result set, so the count would = 0 if they don't appear anywhere in a filtered or searched question list.

[2015-01-23 20:58] laurelnaiad commented on #476
BTW, why is this back in verify? Because you're not sure how to test it?

[2015-01-23 21:28] popzip commented on #506
Work this issue on separate branch

[2015-01-23 21:28] popzip commented on #503
Take this as a bug to be worked going forward.

[2015-01-23 21:29] popzip commented on #40
Charles to push code to separate branch for Daphne to look at // Charles to clean it up

[2015-01-23 21:29] popzip commented on #41
Charles to push code to separate branch for Daphne to look at // Charles to clean it up
(with #40)

[2015-01-23 21:44] grechaw commented on #506
Well, this was indeed a config bug and a very easy fix.

[2015-01-23 21:51] popzip commented on #473
is this in test for @gghai ?

[2015-01-23 22:01] laurelnaiad commented on #473
I think that's correct -- my impression is that he's planning to do a more complete pass and generate a single list for Scott. I don't think this should hold up release branch creation, FYI.

[2015-01-23 22:03] popzip commented on #362
Additional issue as listed seems resolved.

Automatic refresh on 2 different browsers is not supported in current architecture, logging an RFE for this.

[2015-01-23 22:04] popzip opened #507 "Support automatic refresh across browsers."
Scenario mentioned in #362:

2 different browsers, dynamic refresh...

will update with more detail shortly.

[2015-01-23 22:05] laurelnaiad opened #508 "support for "push" from MarkLogic to browser"
We have had folks asking about pushing data to the browser when it is modified by other users or external processes -- in the Samplestack context and other places (see #362 for  a Samplestack case of this).

One way to do this involves having MarkLogic do an alert on the change, which would then be picked up by the middle-tier and pushed to the browser via WebSockets.

As this is an area of intere

[2015-01-23 22:06] laurelnaiad commented on #362
Whoops, now we have two. Anyway, my description is there. If you want to combine, we can do that.

[2015-01-23 22:07] popzip commented on #508
combining with #507

[2015-01-23 22:07] #508 closed

[2015-01-23 22:08] laurelnaiad commented on #362
@gghai, aside from the RFE(s) whch single out the case you just reported, please follow through on whether there are any other issues.  The only auto-refresh that you should expect is within a single browser window. In other words, you would have to vote **on your own content** to see the auto-refresh of reputation that is supported in the header bar.

[2015-01-23 22:11] popzip commented on #499
That's great, v helpful. Maybe add to a wiki?

[2015-01-23 22:16] laurelnaiad commented on #507
We have had folks asking about pushing data to the browser when it is modified by other users or external processes -- in the Samplestack context and other places (see #362 for a Samplestack case of this).

One way to do this involves having MarkLogic do an alert on the change, which would then be picked up by the middle-tier and pushed to the browser via WebSockets.

As this is an area of interes

[2015-01-23 23:13] popzip commented on #394
Since #395 is pushed to 8.0-2, wondering if this should also be pushed...?

[2015-01-23 23:14] laurelnaiad opened #509 "tooltip timing problem?"
Note that bootstrap tooltips seem to have a timing problem.

Noticed when I put a breakpoint on this line: https://github.com/marklogic/marklogic-samplestack/blob/d24bb62aa5beb90079e281983b4abfabddab3466/browser/src/_marklogic/services/mlAuth.js#L210 and then exercise the `logout` feature.

@clockworked247 will you please take a look? Somebody (us or angular-bootstrap) is messing with events and t

[2015-01-23 23:37] clockworked247 commented on #423
Fixed and PR created.

For QA:
Change makes tags wrap **above** "Asked {date} by {user}" text if the tags are long.

Steps to see change:
1) open app without logging in
2) scroll down page to question "Q: MarkLogic: how to return a html page from ML server with a 404 header?"
3) Shrink the browser width and watch as tags come near the "Asked" text.  Observe "Asked" text get bumped to a new line be

[2015-01-23 23:42] popzip opened #510 "Upgrade QA / test infrastructure"
Revisit versions, platforms, machines for testing for next release:

* Support Java 1.8?
* Drop IE9 support?
* Clean machines?
* see discrepancies on recommended vs. tested npm/node

// @gghai, @laurelnaiad

[2015-01-23 23:53] laurelnaiad commented on #394
I think so.

[2015-01-24 00:20] clockworked247 commented on #509
Since this is marked minor, moving to 8.0-2.  Don't think this is something that can be addressed today.

[2015-01-24 00:22] laurelnaiad commented on #509
We should at least look at this and understand it before we push it out.

[2015-01-24 00:23] popzip commented on #371
which issue tracks highlighting - @grechaw can you reference it here?

what issue is tracking inability to limit number of text matches in one particular snippet match - is this an external issue? something for next release?

[2015-01-24 00:34] clockworked247 commented on #509
Able to reproduce.  I will see if I can get get the tooltip to stop triggering on the open account info box.  We just want to see if before that box is open.  This should remedy the error as well.

[2015-01-24 00:39] laurelnaiad commented on #509
Lets find the problem before we choose a solution or whether to even solve it. Thanks!

[2015-01-24 00:45] yawitz opened #511 "Snippet length needs to be controlled/shorter"
Copied over from https://github.com/marklogic/marklogic-samplestack/issues/371#issuecomment-70585614

The snippet shown for the first A is longer than we want. Others are about right. We want to be able to limit each portion (Q or A reference) to a given char or word count.

[2015-01-24 00:45] yawitz commented on #371
Moved https://github.com/marklogic/marklogic-samplestack/issues/371#issuecomment-70585614 to #511.

[2015-01-24 00:47] clockworked247 commented on #467
For QA - what was fixed:

Excess space in Search tips button after removed (see Mitch's screenshot above)

Excess whitespace above tabs

Tabs now move left @ 600px width and the "Browsing {num} Questions" text bumps up above it.

[2015-01-24 00:48] popzip commented on #215
Documented tested versions for software users must download on their own here: https://github.com/marklogic/marklogic-samplestack/wiki/Version-Compatibility
-> @gghai, @laurelnaiad, @grechaw good to get your confirmation.

Opened #510 to upgrade testing infrastructure to match node/npm recommendations.

(note on original issue: Since gradle is included and packaged up as a dependency not mentioned

[2015-01-24 01:07] clockworked247 commented on #509
Roger roger.  Looking deeper into the cause.

[2015-01-24 01:22] grechaw commented on #485
not a bug -- we agreed timezone on /v1/tags is a red herring.

[2015-01-24 04:37] clockworked247 commented on #509
@laurelnaiad here's a breakdown of what is occurring.

I had to peel back the onion here, so bear with me as I step through my investigation (TLDR; those others on the list):

To start, I removed to tooltip altogether to make sure the tooltip was actually causing the issue.  After doing this, the error stopped occurring.  So this confirmed what was seen in the error stack that the tooltip definite

[2015-01-24 04:46] clockworked247 commented on #509
Oh and if you'd like to go with option # 4, my branch 'tooltip-timing' has the change:
https://github.com/clockworked247/marklogic-samplestack/tree/tooltip-timing

[2015-01-24 04:53] laurelnaiad commented on #505
@wooldridge, I rebased and pushed this to my fork as tags-in-progress.

I left a TODO list in the commit.

[2015-01-24 05:09] laurelnaiad commented on #509
Perfact -- thank you, Scott! I'd rather not muck around with angular-ui-bootstrap. Option 3 is a non-starter, no way we're going to dig our own hole just to account for this. I like option 4, glad you do to, and that you did it! Thanks. I will get this in whenever it is I have the other things ready.

[2015-01-24 17:11] grechaw commented on #476
Hard to test without looking at middle tier services. I could demonstrate but @gghai hasnt done much testing of those specifically

[2015-01-24 17:12] grechaw commented on #476
Not sure if this is actionable for me

[2015-01-24 17:12] laurelnaiad commented on #476
I propose we call it a technical bug found/fixed by dev.

[2015-01-24 17:19] grechaw commented on #476
Good morning!

[2015-01-26 17:52] grechaw commented on #476
I'll ship this bug then as something covered by unit tests and opaque to QA.

[2015-01-26 17:56] grechaw commented on #91
Now that the authn/authz mechanism is mostly custom code anyhow, I bet it wouldn't be much more to get to this ideal place.

[2015-01-26 18:04] laurelnaiad commented on #91
FWIW, removing the current workaround in the browser is a no-brainer once the server is able to do a JSON-based login.

[2015-01-26 18:08] #476 closed

[2015-01-26 18:45] popzip commented on #394
@gghai if you're okay with it please push to 8.0-2.

[2015-01-26 18:46] grechaw commented on #506
Hi @gghai , @laurelnaiad has good repro right in the issue description.

[2015-01-26 18:46] popzip commented on #466
we have test & ship on this bug, and then another commit. reassigning to mike to triage what status this bug should have..

[2015-01-26 18:48] gghai commented on #466
Will verify it against the latest RC just anything changed .

[2015-01-26 18:51] popzip commented on #452
this was labeled as will not fix but now considering retest? please update..

[2015-01-26 18:52] gghai commented on #394
I would like to try this once before we move to 8.0-2 as java warm change has gone in to RC .Thanks

[2015-01-26 18:53] popzip commented on #394
oh right that makes sense. didn't realize was tied to warm up which just got pulled in.

[2015-01-26 18:59] grechaw commented on #503
When we discovered that there's no overt error in this behavior and pushed it, it seems the 'critical' flag is a bit extreme.  We also don't know what to do about this bug.

[2015-01-26 19:01] grechaw commented on #502
the quotes surround a default query, which is a word query, and marklogic knows about things like good/better.

I think this could be a value query too - but the "" in Searh API is not to make the match exact, but simply to make a phrase search (in order) rather than individual word searches.

Exact search would have to have some kind of prefix in light of this -- to distinguish it from a bare wor

[2015-01-26 19:02] grechaw commented on #499
Yes, agreed -- maybe part of a 'how searches work in Samplestack' topic?

[2015-01-26 19:03] grechaw commented on #499
edited example, had same bug as in #506

[2015-01-26 19:10] popzip commented on #499
Yes sounds good.

[2015-01-26 19:14] popzip commented on #502
is good/better an example of stemming?

b/c i found [this](https://docs.marklogic.com/guide/search-dev/stemming) in docs:

also wondering about the "exact" option in [cts word query](https://docs.marklogic.com/cts:word-query) (not sure if applicable here).

while we discuss - 2 actions come to mind:
* Should we update search tips to better indicate what is being done with quotes? or remove that fr

[2015-01-26 19:17] grechaw commented on #502
Yes, good/better is default behavior, with stemming.

I'd have to check whether 'exact' is passed through to Search API, but I think it is.  The same issue applies though that " " doesn't change which search is run, so the exact option would apply to both quoted and unquoted words.

[2015-01-26 19:22] yawitz commented on #502
If I understand this discussion correctly, I think the search tip (listed in [Search Tips wiki page](https://github.com/marklogic/marklogic-samplestack/wiki/Search-Tips)) would still be worth listing, but changed from `"a specific phrase"` to just `"a phrase"`.

@grechaw, would that be accurate, and make sense?

[2015-01-26 19:23] grechaw commented on #502
Yes I think that sounds right

[2015-01-26 19:27] yawitz opened #513 "Update search tip to reflect correct quoted phrase searching behavior"
As per discussion in #502:
Change strings search tip for `"a specific phrase"` to just `"a phrase"`.
The [Search Tips wiki page](https://github.com/marklogic/marklogic-samplestack/wiki/Search-Tips) has been updated accordingly.

[2015-01-26 19:28] yawitz commented on #502
Added task to update search tip: #513.

[2015-01-26 19:34] popzip commented on #513
I'd prefer this go in this week since it seems like a minor commit with low impact...if possible mike.

[2015-01-26 19:35] grechaw commented on #487
Here's the offending record.  Still has "false" instead of false.
Can be fixed anytime as next seed data.

{"answers":[],"comments":[],"creationDate":"2014-10-01T08:59:08.604Z","id":"fd044632-55eb-4c91-9300-7578cee12eb3","itemTally":-1,"lastActivityDate":"2014-10-01T08:59:08.604Z","owner":{"displayName":"JoeUser","id":"cf99542d-f024-4478-a6dc-7e723a51b040","userName":"joe@example.com"},"tags":["py

[2015-01-26 19:38] grechaw commented on #487
here's what found it

let $pos := cts:json-property-value-query("accepted", true())
let $neg := cts:json-property-value-query("accepted", false())
return

cts:search(collection(), cts:and-query( (cts:directory-query("/questions/"), cts:not-query($neg), cts:not-query( $pos )) ))

[2015-01-26 20:23] xmlnovelist opened #514 "quickstart security-related errors on upgrade in place to ML8"
I tried to run the samplestack quickstart per the wiki and was unsuccessful in achieving top-to-bottom functionality. (It's key that new devs or part time devs like me get a smooth experience; I pretty much hit the wall on this some time ago and if were a prospective customer woudl have moved on to something else.)

At this point I believe the upgrade in place path will be quite common. If it simp

[2015-01-26 20:31] laurelnaiad commented on #466
Hopefully something did change because the fix was only merged this morning. :)

[2015-01-26 20:35] laurelnaiad commented on #452
We already decided NOT to support gulp e2e on local Chrome 37. That's how this got set to will-not-fix.

The following belongs in its own issue (if it still is an issue):

[2015-01-26 20:37] laurelnaiad commented on #394
The warm up is in our release branch. It is supposed to solve this issue. If the issue remains, please notify.

[2015-01-26 20:38] popzip commented on #514
Trying to parse out where you first ran into problems, and if issues in upgrading the server could be the genesis. Upgrades in ML8 EA versions are not supported, but once the ML8 GA version is released that could be it.

Assuming ML8 nightly installed cleanly:
```./gradlew clean```
```./gradlew dbteardown```
```./gradlew appserver```

any errors there? or you just happened to notice that db is not

[2015-01-26 20:39] popzip commented on #514
(and yes, good feedback to note upgrade/migration path - i'll note that as a todo)

[2015-01-26 21:03] gghai commented on #428
Clear icon button is seen on typeahead now.

[2015-01-26 21:06] gghai commented on #469
Histogram bar returns to default state now,

[2015-01-26 21:09] popzip commented on #479
This issue should also address the fact that we are defaulting to browser style tooltips for 1.0 release. Need to update to how they are styled in the wireframes/mock ups (e.g. black not yellow).

[2015-01-26 21:19] gghai commented on #394
Tried with the latest RC candidate and ML 1/26 build.  Browser app homepage  didn't loaded fully first time on accessing the http://localhost:3000 after the app deployment . If i refresh the IE9 browser able to access the app .

[2015-01-26 21:20] yawitz commented on #479
Not planning to update Stephen's mockups, they still reflect what we want. Wireframes do not specify styling in any case. We should note the discrepancy in this or related issue, and leave it open. I'll leave it to Scott to decide the best task to keep around for this.

[2015-01-26 21:22] gghai commented on #394
@laurelnaiad  do you accept the above issue to be fixed or you want me to focus mainly on accessing the app ( after one browser refresh) .

[2015-01-26 21:26] grechaw commented on #502
OK Shall we close this issue then?

[2015-01-26 21:41] gghai commented on #241
Able to post the comments and sort of the comments looks fine now.

[2015-01-26 21:45] gghai commented on #506
Able to search the question for text in the comment sections

[2015-01-26 21:54] yawitz commented on #502
That seems appropriate. It also seems that "exact phrase matching" counts as an RFE w.r.t. MarkLogic expected behavior. (@laurelnaiad, is that something you want logged as an RFE/issue?)

[2015-01-26 22:04] popzip commented on #502
I'm not settled on this -

What about this selection from a blog post on the [Search API](http://developer.marklogic.com/learn/2009-07-search-api-walkthrough)?

[2015-01-26 22:14] clockworked247 commented on #509
Since we removed all angular-ui tooltips in favor of title tags, can we close this issue?  Passing to @laurelnaiad to decide.

[2015-01-26 22:17] popzip commented on #479
Sorry if that wasn't clear - i meant we need to update the code to match the designs. As of 1.0 we decided they would NOT match because of an issue with IE9 browser. Since we are not changing the design/requirements, deferring rest of implementation to next release. We are just pushing this task, I just wanted to note the discrepancy.

[2015-01-26 22:36] popzip opened #515 "Add 'accepted' answer tooltip"
Consider adding tooltip over a checkmark icon to explain "The asker accepted this as the best answer."

[2015-01-26 22:37] gghai opened #516 "java unit test failure in regression ; major version 51 is newer than 50, the highest major version supported by this compiler."
Below regression test started failing around 01/17. Mac Java regression m/c is running on java 1.6 _65

Logs for the samplestack suite :

start genesis/xsamplestack test suite
Sun Jan 25 22:31:18 PST 2015: creating threads...
Sun Jan 25 22:31:18 PST 2015: starting...
Thread count = 1
running following shell command:
	 cd /space/builder/builds/macosx-64/HEAD/qa/marklogic-samplestack/appserver/java-

[2015-01-26 22:38] popzip commented on #516
Shouldn't Java version be >= 1.7?

[2015-01-26 22:38] gghai commented on #516
I ll work to get the status on the linux box and windows and their java version.

[2015-01-26 22:38] laurelnaiad commented on #394
Please paste the error message into this issue. That will help decide how to dispatch it.

[2015-01-26 22:39] laurelnaiad commented on #502
I thought we were putting this in 8.0-2?

[2015-01-26 22:40] gghai commented on #516
Our testing includes java 1.7 only , this is regression m/c which are still on java 1.6 version . There were certain dependencies if i remember correctly to migrate them to java 1.7 in the future .

[2015-01-26 22:40] popzip commented on #502
Yes to 8.0-2. No to closing.

[2015-01-26 22:40] laurelnaiad commented on #509
We'll reevaluate for 8.0-2 pending potential update to list of supported browsers.

[2015-01-26 22:41] gghai commented on #394
No error what i saw was spinner first time i access the app ( as it didnt loaded fully) .

[2015-01-26 22:44] laurelnaiad commented on #394
A "forever" spinner? I think this is an angular bug that is exposed by the issue we were trying to fix re: slow middle tier. IN other words, the middle tier warms up slowly. and IE9/Angluar combo mishandles the timeout.

I may be able to fix this such that it turns into a "normalish" timeout message rather than an ongoing spinner, but ultimately 30 seconds needs to be enough time for the server to

[2015-01-26 22:48] xmlnovelist commented on #514
I have upgraded my ML7 instance with ML8 EA3 and with nightly, respectively, so it is not a clean ML8 install if by clean you mean no other dbs, apps, security, etc., except what ships with nightly. The progressive list of problems would look like:

1. DB did not load so tests had no data inputs thus failed
2. Security prohibited some queries from running
3. Range indexes and triples were not set

[2015-01-26 23:16] laurelnaiad commented on #395
@grechaw,

Gaurav is still timing out on the first request after the middle tier says it is ready -- it's not browser-specific, btw, but he does have a relatively slow machine.

I took a look at the commit that was to address this, and the warm up as implemented doesn't seem to hit the Spring HTTP layer at all. I think we need to do that before we can claim success here....

[2015-01-26 23:27] popzip commented on #514
Upgrade from ML7 -> ML8 definitely supported. We (server team/engineering) explicitly don't support upgrades on EA or nightly builds so recommendation in this case would be to uninstall and re-install a fresh nightly.

Also I'm still unclear on whether appserver task fails and what the output of that is..

[2015-01-26 23:36] grechaw commented on #502
I think that "exact phrase" in that context doesn't mean unstemmed -- just an ordered set of words.  As I understand it, many people ask for unstemmed search but few actually want it.

[2015-01-26 23:50] gghai commented on #473
As we just talked below  tool tip need to be implemented.

1) "More Tags Dialog - Section"
2) Tag (checkbox) 		Constrain results to selected tag  - Scott already confirmed this may not be added as per the current logic we have.

[2015-01-26 23:55] yawitz commented on #473
Re: @gghai:

Really? I didn't see a discussion about this tooltip. Is it really out for 8.0-1?

[2015-01-27 00:17] popzip commented on #514
The issue isn't supporting upgrades in general, its just that the upgrade code may not have been in place in time for the EA version which is why the server doesn't support EA upgrades. Clean install can be obtained by uninstalling MarkLogic, manually deleting data directory/security db/config files, fresh re-install. Or install to new directory.

Since you're having issues with roles/security tha

[2015-01-27 00:21] gghai commented on #473
You can run through this with Scott I have showed him the tooltip that is not present and prioritize on it . Thanks

[2015-01-27 00:28] grechaw commented on #514
Hi Frank,  you basically had a catastrophic setup error -- none of the users nor indexes got set up properly and so you couldn't expect much of anything to work.

As a developer and MarkLogic you'll appreciate the finer points of the setup so you can get to a custom situation right away--

the first step (which is failing for you somewhere) takes you from a clean install to a running, yet-to-be-co

[2015-01-27 00:31] gghai commented on #362
Auto-refresh is RFE , marking this as fixed.

[2015-01-27 00:31] grechaw commented on #516
This bug is happening while running on a 1.6 machine -- I don't know really what course of action to take on it.  I thought at first that the gradle-wrapper.jar 'binary' could be mismatched for the regression machines.  It was not -- and it makes me wonder why test on a JVM we don't support for samplestack.

[2015-01-27 00:34] clockworked247 commented on #473
@gghai - yea the More tags dialogue didn't exist when we first did tooltips, so these weren't added.  Am I approved to make this addition now?

@yawitz after some brief investigation, I have a slight update RE: Tag (checkbox). My assumption was that nesting title tags would default to the outer-most title text on the label element, so you could only have one tooltip on the element (UX wise, I've o

[2015-01-27 00:45] grechaw commented on #395
I'm not completely sure how to test, or whether this fix actually addresses the issue 100%, but I saw significant improvement on a cold MarkLogic server with this commit in place.  Let's discuss if you are not able to see improvement of the symptoms in CI.

[2015-01-27 00:50] gghai commented on #473
@clockworked247  please check in  I am assuming this to be minor fix ,. Thanks

[2015-01-27 00:53] grechaw commented on #395
Fair enough @laurelnaiad I can take the issue back if @gghai has no success with this.

[2015-01-27 00:53] popzip commented on #516
Yes 1.6 explicitly not supported - we know there are issues. We will need to upgrade regression machine in future else for now I don't think we should worry about this topic.

[2015-01-27 00:54] gghai commented on #395
Thats right Charles . We verified on RC candidate while @laurelnaiad was here .

[2015-01-27 00:55] popzip commented on #473
Not following completely but just want to note that "show rags related..." tooltip should NOT be implemented yet since we do not have any related tags functionality enabled...

[2015-01-27 00:58] gghai commented on #473
This is related to "More Tags Dialog " section on the wiki page .

[2015-01-27 01:00] popzip commented on #473
@yawitz can you add notes to the tooltips wiki to indicate which should NOT be implemented for 1.0/8.0-1 (i think there are 2), and also:
add to existing 8.0-2 task for tooltips and clarify related tags should be added at that time.

[2015-01-27 01:01] gghai commented on #401
Tags Filter List - Pass
Tags Filter Typeahead -Pass
Tags Filter Dialog -Pass
Show Related Tags - POST 8.0-1
Search Results - Pass
In Ask Question Context - Open bug in Mike plate .

[2015-01-27 01:03] clockworked247 commented on #473
Yep thanks for wrangling @popzip .  The additional compartmentalized tasks would help me track the remaining requests better.  This particular issue is getting quite long.  It'd be nice to close it out and track what else is left in more focused issues.

[2015-01-27 01:07] popzip commented on #401
@yawitz - there is a lot of new interaction with the addition of the More tags dialog and availability of type ahead. Can you complete the audit for these features since it wasn't previously performed? I'm okay with bugs being added for post 8.0-1 but don't want to lose sight of getting this part up to spec.

Also note that we already have an issue for the total # of tags issue which is impact pag

[2015-01-27 01:14] gghai commented on #401
@popzip I did one round of review with @yawitz today.  Here is the link that has latest code deployed : rh6-intel64-80-qa-dev-2:3000/ you can used for any further audits.  Thanks

[2015-01-27 01:16] popzip commented on #401
oh good didn't know he was in the loop on that one then.

[2015-01-27 02:20] popzip commented on #502
So I delved in deeply today to better understand the nuances of stemming, exact matches, quotes, etc. Very enlightening! I'm still surprised by the behavior in Samplestack and have not yet sorted out all of the options. Would be great to get a group together for education on this (post release).

Summary of where I'm at:
* Is it worth having the requirement on Samplestack to do exact phrase match?

[2015-01-27 05:22] yawitz opened #517 "Questions list should return to first page when sort order is changed."
When changing the sort order of the Question list, the list should return to the first page.

*I think this already works, but wanted to be sure it was tested. (I updated the wireframes to describe this feature.)*

[2015-01-27 05:24] yawitz opened #518 "Tag list (in all tags dialog) should return to first page when sort order is changed."
When changing the sort order of the "all available tags" dialog, the tag list should return to the first page.

*Wireframes have been updated to describe this feature.*

[2015-01-27 05:33] yawitz opened #519 ""All Available Tags" dialog should follow design described in wireframes"
Currently, typing in the search field in the All Tags dialog causes a typedown list to appear, similar to the search box in the sidebar. This does not match the desired UX.

The design calls for the contents of the dialog itself to be filtered based on the typed string (with the matching substring highlighted).
![alltagsdialog](https://cloud.githubusercontent.com/assets/2439425/5913999/55c9b020-a5

[2015-01-27 05:53] yawitz commented on #473
To confirm my discussion with @clockworked247, as per https://github.com/marklogic/marklogic-samplestack/issues/473#issuecomment-71568443, for now there should be just one tooltip for each tag ("Constrain results to selected tag"), active for both the checkbox and label (and space between).

Once we implement the related tags feature, the tooltip areas should be updated, with a different tip ("Sho

[2015-01-27 05:59] yawitz commented on #519
Also, be sure to check that the UX follows the intended design, as per the most recent [UX Audit](https://wiki.marklogic.com/pages/viewpage.action?pageId=35653890):
* Appearance
  * Overall layout, typography and labeling
  * Paging Control (same as in Browse/Search on Home Page)
* Behavior
  * Type in Tags Search box to filter contents of dialog (with counts and highlighted matches, and paging co

[2015-01-27 06:10] yawitz opened #520 "Implement "related tags" feature"
Still need to implement the "related tags" feature, as per the wireframes.

Also, be sure to check that the UX follows the intended design, as per the most recent UX Audit:
* Appearance
  * Overall layout, typography and content
  * Highlighting of tags, and display of Related Tags indicator, on rollover
* Behavior
  * Click a tag to show Related Tags popup
  * Display of related tags (with counts

[2015-01-27 06:11] yawitz commented on #401
Added the following tags-related issues:
* #518 *Tag list (in all tags dialog) should return to first page when sort order is changed.*
* #519  *"All Available Tags" dialog should follow design described in wireframes*
* #520 *Implement "related tags" feature*

Updated the following tags-related issues:
* #473 *Implement App-wide Tooltips*
* [Tooltips table](https://github.com/marklogic/marklogic-

[2015-01-27 14:39] grechaw commented on #395
Guess I need to put back to 8.0-2 since my hypothesis did not help

[2015-01-27 14:43] grechaw commented on #502
Mary H. is a good person to talk to about this stuff.  She's my source for saying that customers think they want exact much more than they generally do.

With samplestack, exact matches are not hard to do at all -- what's not supported in Search API out of the box (and would be a ninja customization, though possible) is to have

"this phrase"  and
word

use different kinds of searches.  In fact, u

[2015-01-27 17:42] popzip commented on #517
this seems like a task not an RFE...not a change from requirements just a clarification?

[2015-01-27 17:43] popzip commented on #518
I thought this one was a task and/or bug not RFE - just a clarification in requirements not an explicit change? I think if its in the wireframes this would just be a task to bring code up to spec. Otherwise should not be changed in wireframes until RFE approved..

[2015-01-27 17:44] popzip commented on #520
This is a dupe to internal task for related tags - I'll move this detail to that task:
https://github.com/marklogic/samplestack-internal/issues/150

[2015-01-27 18:16] yawitz commented on #517
Since it wasn't called out in the spec, it is technically an RFE. That said, it seems to work as desired, but I wanted to log this so it was official, and subject to testing. Not sure how it should be assigned, though. I assume all RFEs go through you...

[2015-01-27 18:29] yawitz commented on #518
This is technically an RFE (since it wasn't in the spec), but unlike #517, this one isn't working as described here. I did go ahead and update my working version of the wireframes (since it is a simple fix), but haven't yet published the version with this change. I would expect that this would be quickly approved for 8.0-2, but will hold the wireframe update until then.

[2015-01-27 18:31] yawitz commented on #520
I thought we we were trying to move our internal tasks to public, which is why I opened this here. Please confirm that you want to leave this issue as an internal one.

[2015-01-27 18:33] laurelnaiad commented on #518
This is an easy change if it's wanted.

[2015-01-27 18:34] grechaw commented on #395
Going to do an attempt at making an http call to the server at the end of the bootrun process to get rid of this browser delay.

[2015-01-27 19:00] laurelnaiad opened #521 "note usage/non-usage of cleanstart.sh"
(document as internal-only/Mac)

[2015-01-27 19:16] gghai commented on #481
@laurelnaiad  This is more of the travis issue which QA doesnt run the test on . I will verify one I have in my plate on saucelabs . Passing it back to you , you can close this one as it more of the dev task .

[2015-01-27 19:18] popzip commented on #192
I think this is an 8.0-2 task but would like Daphne or Gaurav to confirm and push...

[2015-01-27 19:18] popzip commented on #193
I think this is an 8.0-2 task but would like Daphne or Gaurav to confirm and push...

[2015-01-27 19:27] laurelnaiad commented on #394
The problem on startup is actually the "warm-up" issue. (#395)

However, I will see what I can do about the *lack of error message* (whereby instead you get an **endless spinner**), but that is an **Angular/IE9 incompatibility**. I'll thus mark this issueas external while also looking at a potential workaround.

[2015-01-27 19:31] laurelnaiad commented on #520
IMHO, we shouldn't be opening **new** issues on internal, but let's not rearrange things "just because". (IMHO)

[2015-01-27 19:33] popzip commented on #520
agreed - since related issues still lives over there we'll keep it. mostly just keeping lingering tasks over there and will migrate/close in the very near term as features get implemented...

[2015-01-27 19:33] #520 closed

[2015-01-27 20:34] grechaw commented on #395
Not at all straightforward how to accomplish this in the Java application or in the gradle tasks.

The last thing the Spring container does is fire up the web server and hand control of the application over.
The last thing bootRun does is invoke the Spring app and block.

So in order to hook into either of these places I'd have to deal with concurrency in a way not supported by either the gradle p

[2015-01-27 20:38] laurelnaiad commented on #395
The browser has no way of knowing whether the middle tier is functional.  All users of Samplestack should not be responsible for finalizing middle-tier startup.

That said, in a later version, making an HTTP call from Javascript is easy, and we could combine the gradle tasks with a Node.js script which knows how to make an HTTP request before claiming "readiness" to the developer. Or we could wrap

[2015-01-27 20:41] popzip commented on #395
Thanks for looking into it Charles...given it does not sound like there is a straightforward interim solution, I recommend we don't invest more time now, and put more effort towards the underlying root cause of the delay later. I think we have a reasonable workaround (manual refresh). Can we document when it happens (I haven't seen it but sounds like the rest of you have..)?

[2015-01-27 20:45] laurelnaiad commented on #395
"On first request to the Spring server (from a browser, for example), it can hang for over 30 seconds before responding. When the server doeesn't respond within 30 seconds, the request to it times out. This results in an error message being displayed in the browser."

(user-friendly "page unavailable" implementation tbd under #443 will make the mentioned error message friendlier)

[2015-01-27 20:47] grechaw commented on #395
I think I found another event that puts me where I need to be for this call

[2015-01-27 20:53] gghai commented on #453
I ran various combination of the gulp e2e with --tags="~@broken to get to the clear run on Mac. Running the gulp e2e with --tags="~@broken is must to see a cleaner ran for 8.0-1 . As running alone gulp e2e will throw error that is already documented on github.

for example :
gulp e2e --sauce=osx10.8-chrome-37 --tags='~@broken'  - PASS
gulp e2e --middle-tier=external --browser=ff --tags='~@broken"

[2015-01-27 20:56] laurelnaiad commented on #453
There is some poor person with the github username "broken" who is getting pounded by our use of it with an @ sign in front of it (I just realized). Let's try to put that phrase in backticks when we use it so that github treats it as code rather than as someone's username....

[2015-01-27 20:59] gghai commented on #453
Copy paste error from my excel  . I did ran them as "broken" .Below are the correct command i used .

for example :
gulp e2e --sauce=osx10.8-chrome-37 --tags="~@broken" - PASS
gulp e2e --middle-tier=external --browser=ff --tags="~@broken" - PASS
gulp e2e --middle-tier=java --browser=ff --tags="~@broken" - PASS
gulp e2e --browser=ff --tags="~@broken" - PASS

[2015-01-27 21:36] grechaw commented on #395
I'm trying to set this aside but it's really bothering me that I can't find the right application hook.

[2015-01-27 21:44] grechaw commented on #395
Folks I think I have a solution.  The slowdown may be due to a bug/unfortunate default in jetty.  Jetty evidently scans for annotations on first request, and in a large project this can take some time.  I didn't confirm that this is the case, and I didn't attempt to configure jetty, BUT

I swapped out tomcat for jetty and the startup time is much better.  Or so it appears to me.  I'd like to have

[2015-01-27 21:54] popzip opened #523 "Add Support section"
Please add this text with markup to top level readme:

## Support
Samplestack is maintained by MarkLogic Engineering and distributed under the [Apache 2.0 license](https://github.com/marklogic/marklogic-samplestack/blob/master/LICENSE). It is not designed for use in production. Everyone is encouraged to file bug reports, feature requests, and pull requests through GitHub. This input is critical an

[2015-01-27 22:15] gghai commented on #380
I am covering mainly 5 commands for each of the platform to certify e2e .  Error for each of them are mentioned inline . I don't want to create separate bugs for them as they are all related to gulp e2e on linux (that also include re-running)  . Also all below commands i ran using broken tag flag .

**gulp e2e --sauce=linux-chrome-37**  - FAIL
(Actual Result : Failure 3
Logs are at https://saucela

[2015-01-27 22:20] popzip opened #524 "Readme updates for gradle tasks"
Various fixes for java-spring readme page related to gradle tasks:

* Add new line before "gradle tasks used in development" - > make this in bold or more of a header style/new section
* Add dbinit
* Add dbteardown
* Replace EA3 server with ML8 server:
 * "you will need [MarkLogic 8 server](http://developer.marklogic.com/products)"
* Move "Having run..." through the joe/mary section above "Endpoin

[2015-01-27 22:30] popzip opened #525 "Describe jetty (?) server"
Was going to ask to add a blurb to readme or separate wiki explaining use of jetty in middle tier, but just saw a PR that might be replacing that with tomcat... Has frequently been a question by EA participants.

[2015-01-27 22:31] grechaw commented on #525
yep, could be moot if tomcat solves this issue.  from spring perspective they're swappable

[2015-01-27 22:31] popzip commented on #525
then maybe would be worth describing tomcat? are more people familiar with that one? just wanted to explain why its there..

[2015-01-27 22:32] grechaw commented on #525
i can explain embedded web server.  tomcat is the apache one, jetty is a newer, considered-lighter-weight one.

[2015-01-27 22:39] popzip opened #526 "Update top level readme for 2015/GA"
Under database:
The current version of Samplestack is intended to run with [MarkLogic 8.0 server](http://developer.marklogic.com/products).

Under appserver:
(Available now ~~in EA-3~~)

Under browser:
(Available now ~~in EA-3~~)

2014 -> 2015

[2015-01-28 00:11] grechaw commented on #526
In progress.

[2015-01-28 00:12] popzip opened #527 "Remove travis logo from top level readme"
showing build error - probably due to IE9 issues, more of a testing issue than application functionality.

not sure if this is to turn off the integration or just remove the logo entirely.

assigning to charles since he is doing other readme updates, but push to daphne if that makes more sense...

[2015-01-28 00:15] popzip opened #528 "license updates for browser & node"
Please:
* Add license to browser, similar to other readmes, make sure it is for 2015
* update node license to 2015

[2015-01-28 00:16] popzip commented on #524
Also:
explain appserver only needs to be run the first time, bootrun can be run to skip load/tests on successive runs.

[2015-01-28 00:58] laurelnaiad commented on #380
As I have said previously, I don't think our time is wisely spent trying to figure out what is wrong with this paritcular machine's ability to run the e2e tests as we're trying to get the app out the door. It has something to do with a previously installed Selenium as far as I can tell. We run the e2e tests in linux every day... if it's considered a PM priority to get this machine to work then I w

[2015-01-28 01:24] gghai opened #529 "unit test failure on Windows with gulp run"
run gulp run (  latest rc1 branch and ML 01/26 build) on windows 7

Unit Tests:

  ··········································
  ··········································
  ··········································
  ·

  119 passing (7s)
  7 pending
  **1 failing

  1) unit tests app directives ssFacetDateRange "before each" hook:
     timeout of 2000ms exceeded**

[11:52:38] (deploying static b

[2015-01-28 01:37] gghai commented on #452
Tried running the gulp e2e --sauce=win7-chrome-37 (with broken tag flag) from the windows testing machine . I am seeing the Bad Gateway ; DNS error when resolving 'localhost:3000' . Domain name not found. on the sauce labs recording . @laurelnaiad  I tried warming up the java layer and re-running this time . Any more steps you recommend

[2015-01-28 02:09] laurelnaiad commented on #452
You're still having the same issue? Does it happen with other Sauce browsers on win7?

[2015-01-28 02:09] laurelnaiad commented on #452
Is it every time?

[2015-01-28 14:36] laurelnaiad commented on #455
This is now in the best place it seems I can put it. Warnings that remain are really out of our hands as far as I know.  In particular, We do get a bower warning because one of our dependencies in bower is not marked as compatible with recent versions of Angular and I am not aware of any way to suppress that warning.

[2015-01-28 16:09] laurelnaiad opened #531 "travis timeouts"
Travis is timing out at 50 minutes, a hard stop in Travis.  I'm looking to diagnose. I'm trying a few things to see if I can get us back under 50 minutes without a rework of how the travis automation is structured.

- ~~[ ] revert to jetty~~?
- [ ] is there a particular step or browser-launch-event that's hanging?
- [ ] use travis' own tunnel to SauceLabs instead of opening our own?
- [ ] degraded

[2015-01-28 16:25] laurelnaiad commented on #440
@wooldridge your tags commit didn't reference issue numbers. I know it was intended to close #505 but how about this one? //cc @gghai

[2015-01-28 16:28] laurelnaiad commented on #531
That travis-ci is reporting degraded service since yesterday also has the potential to be an issue. Updating the list of possibilities.

[2015-01-28 17:05] wooldridge commented on #440
@laurelnaiad, yes, this issue is addressed by the latest commit as well. @yawitz can review along with @gghai.

[2015-01-28 17:14] grechaw commented on #531
Query -- @laurelnaiad did this happen as an incremental increase (it as 48 minutes, then 49, then 50) or did something cause an exponential increase?

The degraded performance in travis puts us at a risk from someone else's operations, kind of a bummer.  I'd like to think that we are still verifying with the regression machines, so there's not an absolute dependence on travis.

I'm seeing whether

[2015-01-28 17:20] laurelnaiad commented on #531
Not exponential, no. Mabye arithmetic. In the best of times we were running between 30 and 40 minutes. When we're timing out we've exeuted against *roughly* half of the browsers under test right now.  Given that there are other parts ot the operation (setup) which are also very significant time sinks, it's hard to pin down the various lags as we go through the motions. (Note to self -- pop some ti

[2015-01-28 17:45] grechaw commented on #531
Thanks for perspective there.  I deleted my gradle cache right now and can say that this java download is going to be a significant time.  These times are from home, and so have no relation to what travis will experience, but on a slow broadband (DSL) and my laptop:

tomcat
1. gradle self-install and download  2.5 minutes, 103M
2.  dbinit, dbconfigure, dload  -- dependencies are available from ste

[2015-01-28 18:06] laurelnaiad commented on #531
I'm not as suspicious of the download time as I am of something which could be unhappy with parallelism/multiuser or other more general slow down. I don't think either case is likely,in fact I'm pretty sure we cab cross Tomcat off of the list of potential problems because I hust got an equally bad failure without it. I'm going to cross that off and push the tomcat commit. Already looking at other

[2015-01-28 18:50] gghai opened #532 "gulp run on linux throws below error 1st time , works on re-run"
bash$ gulp run
[10:48:33] Starting 'clean'...
[10:48:34] 'clean' errored after 1.04 s
[10:48:34] Error: UNKNOWN, readdir '/home/builder/marklogic-samplestack/browser/builds/unit-tester/deps/bootstrap-sass-official'
bash$

[2015-01-28 18:52] gghai commented on #532
Unit Tests:

  ··········································
  ··········································
  ··········································
  ···

  122 passing (2s)
  7 pending

[10:49:59] (deploying static build...)
Seems a hitcups with gulp run on linux

[10:49:59] Error Deploying static build: Error: UNKNOWN, readdir '/home/builder/marklogic-

samplestack/appserver/java-spring/static
/

[2015-01-28 18:58] #498 closed

[2015-01-28 18:58] #486 closed

[2015-01-28 18:58] #201 closed

[2015-01-28 19:05] gghai commented on #527
Verified all the below location are update and travis logo is not present anymore .
README.md
appserver/java-spring/cleanstart.sh
appserver/node-express/README.md
browser/README.md

[2015-01-28 19:05] gghai commented on #528
Updated to 2015 now .

[2015-01-28 19:06] gghai commented on #521
Instruction added .

[2015-01-28 19:08] laurelnaiad commented on #395
The jetty->tomcat commit is now on rc1 branch.

[2015-01-28 19:09] gghai commented on #395
Thanks @grechaw  @laurelnaiad

[2015-01-28 19:12] gghai commented on #513
Verified .

[2015-01-28 19:23] grechaw commented on #524
OK I've made these edits and will push with some more docs soon.

[2015-01-28 19:45] grechaw commented on #499
Page about search config that includes a little on relevance.  Feedback/edits welcome @popzip @kcoleman-marklogic

https://github.com/marklogic/marklogic-samplestack/wiki/Samplestack-Search-Configuration

[2015-01-28 20:04] gghai opened #533 "error out when you try to add a already added tag for the ask question"
![repeat tags](https://cloud.githubusercontent.com/assets/6935682/5945788/cdfc39d4-a6e5-11e4-9f4e-93856f6a18bc.jpg)

[2015-01-28 20:08] wooldridge commented on #533
I thought I'd addressed this case in the code, will investigate. Thanks!

[2015-01-28 20:09] gghai commented on #455
@popzip  are you comfortable me marking this as a closed as there isnt any fix that went in for this particular and wiki page talks about if we run to npm/bower install

[2015-01-28 20:14] laurelnaiad commented on #455
This was a reminder for me to lock down dependencies and verify I'd done what I can. I can vouch for marking it `ship` unless anyone finds an issue they want me to fix (though I don't think I can do anything better from where we are).

[2015-01-28 20:21] gghai commented on #394
Tried with  latest rc1 code base that includes the jetty server deployment )

Win 7 / IE9 :   As soon as the app was deployed i accessed the localhost:300 link . saw the spinner for few seconds ( may be 32 i didnt count? the the below error page was thrown.

![ie 9 home page](https://cloud.githubusercontent.com/assets/6935682/5946061/c9da1036-a6e7-11e4-9e4d-efb962d95cc2.jpg)

Win7/ Chrome : Loaded

[2015-01-28 20:22] gghai commented on #394
@laurelnaiad  please let me know if you want me to try refresh the IE9 browser and see if loads fine. I have left in the above screenshot state for now .

[2015-01-28 20:24] popzip commented on #394
Just to clarify - this was tested on a branch that has both the tomcat/jetty replacement AND the new browser error out message? (my understanding is these were 2 attempts to mitigate the issue).

[2015-01-28 20:25] gghai commented on #395
Able to deploy the app (all  3 platforms ) with latest code base that uses the tomcat . Will mark this as shipped after some sanity testing on the app .

[2015-01-28 20:27] popzip commented on #455
I'm okay with it.

final clarifications:
* are the dependencies now shrinkwrapped (is that same as 'locked down'?)?

Does this mean the dependency is not marked as compatible but is actually compatible?

[2015-01-28 20:27] gghai commented on #394
Yes ( latest rc1 code case ) that includes jetty and browser changes .

[2015-01-28 20:28] popzip commented on #394
I guess I'm surprised the browser error is kicking in - does that mean the tomcat replacement did not solve issue?

[2015-01-28 20:28] laurelnaiad commented on #394
What Gaurva just tested was a separate issue with IE9/Angular which was resulting in an endless spinner instead of an error message saying the request timed out. I hacked a solution to overcome that so that endless spinners don't result when the warm-up bug crops up. It seems he gets exactly what I'd hoped.

I imagine that by now the server is ready ( :wink: ), and a refresh would render the page

[2015-01-28 20:29] laurelnaiad commented on #394
@popzip I'm confused about what he's testing b/c it sounds contradictory to say "latest" and "jetty" together.

[2015-01-28 20:30] gghai commented on #394
C:\Users\builder\marklogic-samplestack>git rev-parse HEAD
1bf118ae5ea7f04544d3d5f3b01c77d6642c5ccd

[2015-01-28 20:30] laurelnaiad commented on #394
Either way this particular issue should be marked `ship` and #395 is where we should continue the conversation about warm-ups.

[2015-01-28 20:32] laurelnaiad commented on #395
@gghai said he still sees a timeout on commit 1bf118ae5ea7f04544d3d5f3b01c77d6642c5ccd.

If that is the case, and if the entire gradlew cache was clean before he tested, then Tomcat would seem not to have solved the problem... but I have my doubts about whether the gradle cache was clean. @grechaw will you please help him ensure that Tomcat is being used?

[2015-01-28 20:33] gghai commented on #394
@laurelnaiad  should i go ahead and try refresh the IE browser and see if its looks good now.Just ensuring no one what to take peek at the current browser state .

[2015-01-28 20:33] laurelnaiad commented on #455
Everything that I can do I have done.

[2015-01-28 20:34] laurelnaiad commented on #455
Sorry, missed bullet numero due. This means that yes, the dependency isn't marked as compatible by its authors, but has seemed to be compatible.

[2015-01-28 20:35] popzip commented on #455
okay thanks. for future reference does locked down = shrink wrapped or are those 2 distinct steps?

[2015-01-28 20:35] laurelnaiad commented on #394
It's fine with me if you do. I'm very interested in shipping this ASAP and focusing on #395, but a refresh of your browser doesn't hurt.

[2015-01-28 20:37] laurelnaiad commented on #455
In this case, I did use them as meaning the same thing.

[2015-01-28 20:37] gghai commented on #395
Below are the steps I did :

I did dbteardown
clean
( update the latest code to commit 1bf118a.)
ran appserver
npm install
bower install
gulp run

I do see tomcat being used .  Below are the logs :

essorChecker - Bean 'metaDataSourceAdvisor' of type [class org.springframework.s
ecurity.access.intercept.aopalliance.MethodSecurityMetadataSourceAdvisor] is not
 eligible for getting processed by all

[2015-01-28 20:41] gghai commented on #394
On refresh the browser app loaded fine on IWn7/IE9 . Marking this as ship.

[2015-01-28 20:50] grechaw commented on #395
Yes, tomcat is in use here.

[2015-01-28 20:52] laurelnaiad commented on #395
@grechaw , if we are to conclude that tomcat didn't solve it (which seems reasonable), should we revert to jetty? Just wondering...

[2015-01-28 20:55] grechaw commented on #395
Well, there's really nothing that would have me choose one over the other, except it seems there is an expectation of the use of tomcat in the field.  tomcat's apache, jetty is eclipse.  I'm turning on some debugging just to see where in the world this time is going.

[2015-01-28 21:02] laurelnaiad commented on #395
Ok, if you want to back out Tomcat for Jetty , just let me know, otherwise I'll do "nothing". :smile:

[2015-01-28 21:43] grechaw commented on #395
Well, it's not looking like a solution is going to appear for 1.0.0.  I suggest we push back to 8.0-2 milestone, although I will keep investigating.

[2015-01-28 21:52] gghai commented on #395
You can pass this back to me in case you want me to re-try one more time on windows m/c Thanks

[2015-01-28 21:54] laurelnaiad commented on #395
@grechaw did
http://stackoverflow.com/questions/12857823/web-application-deployed-on-tomcat-is-slow-on-first-access
* (* set the <loadonstartup>1</loadonstartup> in web.xml.) not pan out? Or
not worth trying?

[2015-01-28 21:55] gghai commented on #440
Verified .

[2015-01-28 21:57] gghai commented on #455
Passing this to you final closure . Thanks

[2015-01-28 22:08] gghai commented on #505
Verified on different browser combinations .

[2015-01-28 22:10] gghai commented on #452
I tried 2 time against the sauce browser yesterday , yes i saw it when i tried couple of time.

[2015-01-28 22:12] laurelnaiad commented on #452
It sounds like you don't have localhost mapped to 127.0.0.1 in your hosts file or your OS isn't honoring it (`c:\windows\system32\drivers\etc\hosts` IIRC). What's in that file?

[2015-01-28 22:13] laurelnaiad commented on #452
Oh wait -- or for some reason it thinks the port number is part of the domain name? I will check into that possibility.

[2015-01-28 22:19] gghai opened #535 "Notification about user browser session is expired missing"
Dont have a consistent steps to reproduce .

SS app deployed in the morning
Login as the joe user
( went out for lunch)
Now came back when i click on the ask a question page
I was able to type in the Title , description tags field

When i click on post your question ( login buttin goes to the non-logged in state)

It seems the user browser session was already expired .
Didnt get any error or timeo

[2015-01-28 22:22] laurelnaiad commented on #535
The only reason you should lose your login is if the Java app is restarted. It keeps the session in memory. Anything else is a bug, while the concept of a session expiration notice would be an RFE (we have to keep them separate). If you didn't restart Java, then this should remain a bug and the RFE stuff should be moved to another issue. If you did restart Java, this should not be marked as bug.

[2015-01-28 22:25] kcoleman-marklogic commented on #499
I saw a few typos that I just fixed directly, as threatened. I made a couple other minor phrasing tweaks, but nothing much. I'm afraid I got cheekier the farther into the page I went.

I have a couple terminology suggestions for you to contemplate. I didn't think it'd be fair to just muck about with them.

- Don't say "so-called X", like "so-called fields". You do that in a couple places. It sound

[2015-01-28 22:26] gghai commented on #535
As far as i can confirm i didnt restarted java.

[2015-01-28 22:27] laurelnaiad commented on #452
I can't reproduce this on my Win7 machine. Please post your hosts file so we can see if it's that.

[2015-01-28 22:33] laurelnaiad commented on #535
If you can reproduce it then please send it back to me with a reproduction.

[2015-01-28 22:34] laurelnaiad commented on #535
If you want to make an RFE for your idea of session expiry notification, please separate that. Thanks!

[2015-01-28 22:45] gghai opened #536 "Add session expiry notification"
Would be great to add a session expiry notification when the user browser session is expired on UI

[2015-01-28 22:46] gghai commented on #535
Added RFE https://github.com/marklogic/marklogic-samplestack/issues/536

Let me try if i could reproduce it .

[2015-01-28 22:48] gghai commented on #452
okie let me try with latest rc1 code and post results.

[2015-01-28 22:56] gghai commented on #452
Below are the host file details

# Copyright (c) 1993-2009 Microsoft Corp.
#
# This is a sample HOSTS file used by Microsoft TCP/IP for Windows.
#
# This file contains the mappings of IP addresses to host names. Each
# entry should be kept on an individual line. The IP address should
# be placed in the first column followed by the corresponding host name.
# The IP address and the host name should

[2015-01-28 22:58] gghai commented on #452
Logs :

C:\Users\builder\marklogic-samplestack\browser>gulp e2e --sauce=win7-chrome-37
--tags=~@broken"
[09:21:15] Starting 'clean'...
[09:21:15] Starting 'selenium-start'...
[09:21:15] using **self-tunnelled** SauceLabs Selenium server
[09:21:16] Starting 'middle-tier-start'...
[09:21:16] Finished 'middle-tier-start' after 7.74 ms
[09:21:17] 'clean' errored after 1.52 s
[09:21:17] Error: EPERM, u

[2015-01-28 23:04] laurelnaiad commented on #452
[code]
Not sure what  I can do about this. Make sure no windows explorer window or other promiscuous file locking app isn't looking at the directory, try to remove the directory manually before you re-attempt....

[2015-01-28 23:08] grechaw commented on #395
So we found that the timeout 'event' is on a GET from the express node server (port 3000) calling the middle tier REST server.  @laurelnaiad set an explicit timeout on this GET so that the browser will not see it as a failed request.

I tested the change locally and the browser does indeed wait more patiently now for the slow first request, regardless of why its slow.

[2015-01-28 23:14] xmlnovelist commented on #514
Hi Charles - It's very helpful to get a sense of how the source files are used in the setup. It's crucial I find that the samplestack artifacts get completely torn down if there is an aborted gradle setup. If I do that I get back to a familiar spot. The database gets created, database.properties is applied, tests are run, and we are back to security exceptions during testing.

2015-01-28 18:05:06.

[2015-01-28 23:23] grechaw commented on #395
Giving to gaurav for test -- I think we got to a 'root cause' of sorts, which was to find the appropriate timeout and deal with it.

[2015-01-28 23:42] laurelnaiad commented on #526
Does that commit close this or just relate to this? If close, please set to test and give to @gghai .

[2015-01-28 23:43] grechaw commented on #526
Should close it -- I think @popzip should get it for review though.

[2015-01-28 23:44] laurelnaiad commented on #395
I think we didn't so much get to the root cause but an exacerbating bug.... 20 seconds to make a request is still pretty heavy...we'll see how Gaurav's slow machine makes out. :)

[2015-01-28 23:52] gghai commented on #395
Worked like a magic . I saw the spinner for few seconds eventually the app loaded fine this time . Win7/IE9

C:\Users\builder\marklogic-samplestack>git rev-parse HEAD
f644324c3dd5e1f34d901c90dab6f79ae41a04cd

[2015-01-28 23:53] laurelnaiad commented on #395
How many seconds?

[2015-01-28 23:54] grechaw commented on #395
so the story before --
browser requests
proxy requests
proxy times out
browser waits to timeout before hearing about proxy timeout.

Yes, the initial request is still slow, but at least all the components know about it now

[2015-01-28 23:55] gghai commented on #395
Less then 30 i am guessing . Didnt count :-)

[2015-01-28 23:56] laurelnaiad commented on #395
Will you please rerun and count the seconds? It's helpful in this case to understand what kind of time that machine is taking to do the warm up

[2015-01-28 23:56] laurelnaiad commented on #395
May be able to decude something about how much tomcat helped.

[2015-01-28 23:56] popzip commented on #395
trying to catch up - is there consensus this is btw java & ML and browser is just a downstream manifestation, or could it still be something between java & browser?

[2015-01-28 23:56] laurelnaiad commented on #395
@popzip I don't understand your question.

[2015-01-28 23:57] popzip commented on #395
have we isolated where the root cause of the warm up issue is?

Is it experienced only in the browser or if we make curl calls to middle tier would we also see it?

[2015-01-28 23:57] laurelnaiad commented on #395
There as a third ingrededient which was also timing out in addition to browser timing out, which was the proxy server. Charles discovered that and I upped its timeout.

I just want to know whether we're at 10, 15, 20, 25 seconds or what on the test machine now.

[2015-01-28 23:59] laurelnaiad commented on #395
I think we don't know how much Charles' warm-up query helped, how much Tomcat helped, how much the proxy timeout change helped. Some combination of all three is in effect and it's working, but knowing which was which is why I'm still pursuing that number from Gaurav.... seconds to load...

[2015-01-29 00:00] laurelnaiad commented on #395
Whatever delay there is in warming up, you could see it in curl, too.

[2015-01-29 00:00] gghai commented on #395
I would say be may be around 10-20 sec since you are pursing that number from me . I dont have exact count.

[2015-01-29 00:01] laurelnaiad commented on #395
Ok, once you've had a chance to count it we can start to digest root cause
questions and try to assess where we stand with how well the server is
warmed up now.

[2015-01-29 00:08] gghai opened #538 "New unit test failure on windows with gulp run"
With latest rc1 , seems new test has started failing .

C:\Users\builder\marklogic-samplestack>git pull
Already up-to-date.

Unit Tests:

  ··········································
  ··········································
  ··········································
  ····

  122 passing (6s)
  7 pending
  1 failing

  1) unit tests "after all" hook:
     timeout of 2000ms exceeded

Error lo

[2015-01-29 00:10] popzip commented on #473
can someone update this issue? i don't think we'll hold release for this and not sure about any further check-ins if this has not made it in yet. i know we have some tooltips.

[2015-01-29 00:13] popzip opened #539 "clean up tags for repo (?)"
why do we have a "1.0.0-ea3.1" tag and a "v1.0.0-ea3.1" tag? can we delete the one without a "v" prefix?

[2015-01-29 00:14] laurelnaiad commented on #539
Yes, @grechaw and I need to coordinate that. Last attempt failed.

[2015-01-29 00:18] grechaw commented on #499
Good suggestions, thanks.  On this one

I definitely saw that before and swept it under my mental rug.  So much for that strategy!

[2015-01-29 00:20] yawitz commented on #473
I think Scott is out sick today, so may not see this right away. But it is currently on his plate.

- Mitch

From: Kasey Alderete <notifications@github.com<mailto:notifications@github.com>>
Reply-To: marklogic/marklogic-samplestack <reply@reply.github.com<mailto:reply@reply.github.com>>
Date: Wednesday, January 28, 2015 4:10 PM
To: marklogic/marklogic-samplestack <marklogic-samplestack@noreply.git

[2015-01-29 00:24] popzip commented on #473
right but i thought on the status meeting scott said this was done and waiting to be merged/queued up for next PR.

at this point just trying to sort out and set expectations - i don't think anything NOT already in will make it. if its in and needs to be tested/verified we should mark it.

[2015-01-29 00:28] laurelnaiad commented on #473
Scott put into a commit:

Changes ssFacetTags title tag tooltip, to the correct text.

That commit was merged yesterday.

I don't understand all the back and forths, but if we look at rc1 branch right now, what is currently TODO with tooltips? Does anyone know of a problem? I don't think we should worry too much about tooltip finesse unless there is a specific problem that someone has noticed in r

[2015-01-29 00:32] popzip commented on #533
I think this will have to be for 8.0-2.

to back up to a prior step:
- once a tag is added to the question, it should no longer appear as an option in the drop-down. this would prevent duplicate tags from being attempted.

[2015-01-29 00:33] laurelnaiad commented on #533
@popzip which has to wait -- the bullet point in your post? Or the bug report that is the subject of this issue?

[2015-01-29 00:34] gghai opened #541 "No coverage information for Windows platform"
![coverage link windows](https://cloud.githubusercontent.com/assets/6935682/5950169/790274c2-a70b-11e4-920f-4e4be038d5a0.jpg)

[2015-01-29 00:34] popzip commented on #473
when the commit was made did it put a related task into test? maybe that was the miss - this may need to be put into test to validate the merged code. it looks done.

(yes - to your edit comment)

[2015-01-29 00:35] popzip commented on #533
the whole issue...i believe @gghai trying to freeze at this point.

[2015-01-29 00:36] laurelnaiad commented on #541
Same as #538

[2015-01-29 00:36] popzip commented on #533
not ideal but we will just hope people are not trying to break the code and do not add duplicate tags. i realize this might be done inadvertently and we SHOULD fix, but not a stop ship.

[2015-01-29 00:37] laurelnaiad commented on #533
We have the whole page unavailable feature set close to ready to go. Are we locking down the code this moment? I thought it was end-of-day (aka midnight)? :smile:

[2015-01-29 00:40] grechaw commented on #499
OK I gave it another pass through.

[2015-01-29 00:40] grechaw commented on #516
Anything new on this @gghai ?  I'm not sure I have anything actionable.

[2015-01-29 00:54] laurelnaiad commented on #532
Don't know what to do about this. This is code that's not ours running. Newer version of node might help, but I don't think we want to open up the "which version of node" do we support question, do we?

[2015-01-29 00:55] grechaw commented on #525
OK how about this @popzip
https://github.com/marklogic/marklogic-samplestack/wiki/The-Java-Middle-Tier-Overview
( to you for review)  @kcoleman-marklogic too!

[2015-01-29 01:18] wooldridge commented on #533
I submitted a PR for this bug if we want to get it in:

https://github.com/marklogic/marklogic-samplestack/pull/543

[2015-01-29 14:24] niranjanMaisnam opened #544 "How to make this application work for Marklogic 7"
Can somebody help me with how to make  this application  work in Marklogic 7 windows

[2015-01-29 17:55] popzip commented on #544
Samplestack is only available on MarkLogic 8, and you can obtain an early access of the server here: https://ea.marklogic.com/.

The generally available version of MarkLogic 8 will be out shortly (stay posted over the next month here: http://developer.marklogic.com/products).

Samplestack will not work with MarkLogic 7, in large part because we've made many technical decisions that take advantage

[2015-01-29 18:29] kcoleman-marklogic commented on #525
My only comment on that page is that I'm not sure what I was supposed to take away, What's there is fine, but I was startled when I got to end. Like when you think there's one more step in the staircase, but there's not.

It felt like you were building up to something that never got said, especially because that list at the end isn't just about the middle tier, is it? It's the whole stack.  Where

[2015-01-29 18:30] kcoleman-marklogic commented on #525
(And I know, everyone's a critic, right?)

[2015-01-29 18:48] grechaw commented on #525
Fair enough.  I lean toward the picaresque.

[2015-01-29 18:50] grechaw commented on #499
Sending to @popzip for a final looksee.  Feel free to contact with questions, requests

[2015-01-29 19:14] niranjanMaisnam commented on #544
Thanks for your update. But I have already installed Marklogic 7 and I have also requested Marklogic 8 which Marklogic has given me access and I have downloaded but not yet installed. Please let me know if installing Marklogic  8 on top of 7 will  work or do I need to uninstall 7

[2015-01-29 19:19] laurelnaiad opened #545 "e2e tests hanging for 31 seconds every time"
Every e2e test is hanging for 31 seconds as a result of an patch made for IE9 so that it does not itself hang after 30 seconds. Cure was worse than the disease. :)

I have a fix locally, getting ready to push it.

[2015-01-29 19:21] gghai commented on #516
Moving this to 8.0-2 for now .

[2015-01-29 19:24] gghai commented on #516
I can confirm nothing got changed on the regression machine . I would say enabling regression m/c java 1.7 and see if the test pass can be good check to have in future until then we have test failures in regression .

[2015-01-29 19:33] gghai commented on #443
@yawitz  Can you please do the audit for this functionality . I have deployed the latest on

http://rh6-intel64-80-qa-dev-2:3000/ Thanks

[2015-01-29 19:43] gghai commented on #545
I am seeking further comments from PM / Dev to take call on either fixing the testing m/c or setup new machine linux / windows (with supported configuration java / npm verisons ) where QA can certify e2e test runs . Above regression seems to be windows7 /IE9 specific ?

[2015-01-29 19:45] popzip commented on #545
I don't understand the question.

[2015-01-29 19:53] laurelnaiad commented on #545
No, It was *caused* by patching our code for a bug in IE9,  but the patch caused a regression which affects every single e2e test in all browsers.

[2015-01-29 19:55] laurelnaiad commented on #545
(and affects every machine... but is a totally separate subject from getting any particular QA machine to be able to execute e2e tests)

[2015-01-29 20:19] gghai commented on #395
Today i trying the day zero case  ( removed SamplesTack repo , got a rc1 branch fresh and install on ML 01/29 ) On accessing the IE9 browser i saw it waited for approx 30 sec and then gave the error message below . Able to reproduce the issue on latest .

![ie9](https://cloud.githubusercontent.com/assets/6935682/5965200/2524e30e-a7af-11e4-8a93-c6524324070a.jpg)

[2015-01-29 20:32] yawitz commented on #443
Size of the graphic ("Uh-oh") is wrong. See attached, which is Stephen Gehring's visual design (using a different graphic, but should be sized the same).

![404-page](https://cloud.githubusercontent.com/assets/2439425/5965683/d6b534f4-a7b2-11e4-95c9-74d289372733.png)

[2015-01-29 20:43] yawitz commented on #443
Also, tried to access:
* http://rh6-intel64-80-qa-dev-2:3000/askz

The browser went to:
* http://rh6-intel64-80-qa-dev-2:3000/404

but the page was blank. It should have shown the message "The content you tried to access does not exist".

[2015-01-29 20:44] popzip commented on #525
Ahh. that probably comes from the fact that it was a request from me but not fully contextualized, so Charles was doing his best to guess how to address. It stemmed largely from questions we had been getting on how Jetty fit into the picture.

Here were some specific comments:
* Mention the fact Spring is used to embed a Jetty server for the middle tier.
More could be explained on how the web serv

[2015-01-29 20:54] kcoleman-marklogic commented on #525
I don't think it needs anything major. If it had stopped at the para about Jetty and Tomcat, it would have felt like a natural stopping point. Or if you tweak the last para (the one that starts with "In fact,...").

It's just that I read that last bit and went "So...?". In other words, we laid out that stack to make a point, but never said what. Why do I care about that numbered list? This is a pa

[2015-01-29 20:56] gghai opened #546 "chrome 37 : unit test failure on accessing http://localhost:3001/unit-runner.html"
ssMarkdown

    should call highlight on code

timeout of 300ms exceeded
done@http://localhost:3001/deps/mocha/mocha.js:4383:61
callFn@http://localhost:3001/deps/mocha/mocha.js:4439:7
Runnable.prototype.run@http://localhost:3001/deps/mocha/mocha.js:4421:7
Runner.prototype.runTest@http://localhost:3001/deps/mocha/mocha.js:4823:5
next/<@http://localhost:3001/deps/mocha/mocha.js:4901:7
next@http://lo

[2015-01-29 20:58] popzip commented on #525
No no I agree its abrupt. Perhaps you're right its a minor tweak to make the last paragraph a summation and wrap up statement.

[2015-01-29 21:02] gghai commented on #535
Tried this with user expired session , when i tried to submit the ask a question ; it was directed to uh-oh the content you tried to access does not access . I think that is much better.

[2015-01-29 21:05] wooldridge commented on #443
Thanks for reviewing, @yawitz. I will take a look at these issues.

[2015-01-29 21:07] grechaw commented on #395
Well, here's what that error screen looks like to me.

The middle tier is still taking too long for the http call from node express.  30 seconds is too long.  The timeout error you're seeing in the gulp window is the same as was previously happening (before commit for #537).   The error in the browser now shows the timeout from the proxy HTTP client, rather than getting back an error from node as

[2015-01-29 21:32] laurelnaiad commented on #395
We can push the warm-up milestone and I can increase the timeout to 60 seconds for this release and until we get the warm-up straightened out. Sound ok?

[2015-01-29 21:34] laurelnaiad commented on #546
This machine is ridiculously slow! I will increase the timeout.

[2015-01-29 21:35] laurelnaiad commented on #545
bump -- we really need to merge this!

[2015-01-29 21:36] grechaw commented on #525
I gave is a shot at a wrapup, but I'm afraid I may have muddled it a little.

[2015-01-29 21:44] gghai commented on #545
Please go ahead with checkin .Thanks

[2015-01-29 21:51] grechaw commented on #395
Yes that sounds right to me.

[2015-01-29 21:59] gghai commented on #546
I saw this on mac firefox 32 too that may be not that slow compared to windows .

[2015-01-29 22:10] wooldridge commented on #443
@yawitz, re: the "Uh-oh" graphic, I'm using the same HTML as was in Stephen's prototype:
[code]
I can increase the height, but that is going to add extra padding (which is part of the SVG image file) to the top and bottom of the graphic and push the text content further down, which I assume you don't want. Can you resend the "Uh-oh" graphic cropped with minimal top and bottom padding? Then I think

[2015-01-29 22:32] yawitz commented on #443
Something weird going on with the SVG file I submitted as a replacement. Cropped the file correctly and sent to Mike to try again.

[2015-01-29 22:47] gghai commented on #380
Not sure if below problem is what we are hitting with linux box .

http://stackoverflow.com/questions/23546919/node-selenium-webdriver-error-timed-out-waiting-for-the-webdriver-server-at

[2015-01-29 22:53] laurelnaiad opened #547 "increase client tineouts to 60 seconds"
Increase timeouts in browser and proxy to 60 seconds to give Spring more warm-up time until #395 is worked out.

[2015-01-29 22:56] laurelnaiad commented on #546
I recall that machine being quite slow, too. We should be using developer-grade machines for these tests. In the meantime, we can increase the timeouts.

[2015-01-29 23:02] wooldridge commented on #443
The PR I just submitted has the updated graphic from @yawitz and changes that should fix the blank page issue:
https://github.com/marklogic/marklogic-samplestack/pull/548

[2015-01-29 23:11] laurelnaiad commented on #380
No not applicable -- they're talking about different versions of the software on a different platform.

The problem looked to me like a prior install of selenium getting in the way of the port.

[2015-01-29 23:16] gghai commented on #380
Another way if i try changing the port in export-config .

exports.config = {
  // The address of a running selenium server.
  seleniumAddress: 'http://localhost:4444/wd/hub',

  capabilities ...
}

Can you point me to the location where i can change it ?

[2015-01-29 23:18] laurelnaiad commented on #380
It's not very configurable to try to change ports. 4445 is assumed in quite
a few places in the testing infrastructure. If you want to repair the
machine I would suggest cleaning out the old selenium might be worth trying
-- if that's even the problem.

[2015-01-29 23:20] laurelnaiad commented on #532
I believe moving to a newer version of node has a chance of helping, but we don't own the code that is giving up on reading a directory... so certainly nothing we can do in the 8.0-1 timeframe.

[2015-01-30 00:06] gghai commented on #380
It doesnt seem to be the probelm , as I tried finding the old selenium process  with below command :
builder@rh6-intel64-80-qa-dev-2$ netstat -an | grep 4445  ->  gives back nothing.

When i run gulp e2e  give below error .

builder@rh6-intel64-80-qa-dev-2$ gulp e2e
[16:03:25] Starting 'clean'...
[16:03:25] Starting 'selenium-start'...
[16:03:25] using **local** Selenium server
[16:03:25] Starting

[2015-01-30 00:09] laurelnaiad commented on #380
Yes, I've seen that. Something is making it pick a high port number. In the past I killled a selenium process that was at :4445 but wasn't sure if there were others, perhaps running under an account I couldn't access? I will do my best after I have tackled the Windows machine.

[2015-01-30 00:11] gghai commented on #380
Sure , I have raised a IT ticket to restart this linux box ( as I dont have permissions )

[2015-01-30 00:36] gghai commented on #443
Font of uh oh is bigger now . Thanks all

Tried 4 use case
1. when you try to go to a doc page with a bad id, you get a message with a login link.
2.  logged-in user accessing a doc with a bad id, this message doesn't include a login link because they are already logged in
3. access /ask without login ; give login link
4. access /foo redirect to uh-oh page

[2015-01-30 00:38] gghai commented on #452
As you are already looking into the windows gulp e2e issue , passing this to you.

[2015-01-30 00:38] popzip commented on #443
awesome! thx for getting in a quick fix

[2015-01-30 02:30] gghai commented on #457
Will verify once #452 - e2e issues -- Windows edition is fixed .

[2015-01-30 03:01] gghai commented on #546
Verified .

[2015-01-30 04:54] clockworked247 commented on #473
I believe that is the step that was missed.  Now that the change has been merged, I'll do that.

[2015-01-30 14:33] laurelnaiad commented on #457
This doesn't need the windows machine to be fixed. It's a sauce test that was having the problem. You can verify this one on Mac.

[2015-01-30 16:16] laurelnaiad commented on #452
I just ran `npm install` on the machine on a whim and it seems to have fixed it.

I don't really know why, though. Assuming you were doing `npm install` on each pull (which is a necessity), then that should not have helped… so I'm a little mystified. It is within the realm of possibility that someone (maintainer of the repositories on which we depend) monkeyed with their repository, fixed somethin

[2015-01-30 16:25] laurelnaiad commented on #452
FYI, the machine is so slow that you will probably get timeouts in the tests (I already see them). The fact is that the machine just isn't sufficient for development.

So, here's my interpretation of what we do.

You verify that the tests are at least *executed* under the Windows dev box/Sauce scenario. But on the contrary, we assume that due to machine speed the possibility of them actually succe

[2015-01-30 16:40] laurelnaiad commented on #545
Since I opened this, I'm asserting that I've fixed it.

[2015-01-30 16:40] laurelnaiad commented on #531
Since I opened this, I'm asserting that I've fixed it.

[2015-01-30 16:44] xmlnovelist commented on #514
Security problems appear to be the root of these issues, as assigning admin role to samplestack users dramatically improves test results. Of course tests that depend on restricted access still fail.

Suggestion would be that gradle setup scripts do a thorough audit of the security config. Useful reporting would indicate that roles differ from expected.

Further suggestion would be to make appbuild

[2015-01-30 17:05] laurelnaiad commented on #380
FYI, I can't seem to ssh into the linux box.

[2015-01-30 17:13] grechaw commented on #514
That error is actually of some concern -- I'm wondering if something about management privileged changed in 7 to 8 and wasn't caught in upgrade.  Actually, since that privilege isn't assigned to any of the ss users, this could be a missing amp in upgrade scenario.  Still odd that it would not have been found by QA.

In any event, the appserver task does just run tests because it's a one-stop task.

[2015-01-30 17:30] grechaw commented on #514
im going to try an upgrade scenario and see if i can reproduce.  samplestack ain't going nowhere with the kind of issue you're having.

[2015-01-30 17:31] xmlnovelist commented on #514
bootrun worked thank you.

As this is an upgrade and there are all sorts of things I've done with the instance, it is possible that there's some kind of edge security scenario in play. So if the goal is a quick- (and painless-) start I would submit that many devs who will try samplestack will have baroque pre-8 environments they would like to preserve, and thus a thorough security audit of the tar

[2015-01-30 17:53] grechaw commented on #514
I just ran through a vanilla 7 to 8 upgrade and ss seems to work in that circumstance.
I agree that getting the roles/users audit would be a good thing...

[2015-01-30 18:20] laurelnaiad opened #549 "travis fails on dbLoad"
travis has very unforgiving network and sometimes can't get a connection to developer.marklogic.com.

Isolate attempt to fetch seed data into a curl command so that the special "travis_retry" script may be used to download the seed data, and then override the gradle command to use the downloaded seed data instead of attempting the http download through java.

Charles has already done the gradle wo

[2015-01-30 18:36] gghai commented on #549
Not impacting any of the QA testing , please go ahead with the check-in .Thanks

[2015-01-30 18:38] gghai commented on #547
@laurelnaiad  Can you please confirm the expected behavior with this change . So if i deploy the latest app  and try accessing the Win7 / IE9 browser ; i should see the spinner for 60 sec and then the error message . Should be able to proceed with browser refresh .

[2015-01-30 18:42] laurelnaiad commented on #547
The brand of browser is **NOT** related. It never has been.

When you launch any browser, the middle-tier now has 60 seconds of time before it must respond instead of 30, so on an extremely slow machine there is a greater likelihood that the middle-tier will warm up in time.  If the page is not loaded within 60 seconds, then you will see an error, and you would report that **in the Java warm-up**

[2015-01-30 18:44] gghai commented on #547
The brand of browser is NOT related

Oh yes that correct .I will try out with the latest . Thanks

[2015-01-30 18:46] laurelnaiad opened #550 "e2e tests no idemptotent / fail when run together"
Changes to tags feature tests as result of new tags lookup/validation feature have left e2e tests running into each other with expectations, and thus, depending on timing, may cause each other to fail.

Organize test expectations so that one test does not interfere with the expectation of another.

[2015-01-30 18:47] gghai commented on #380
IT seems to have fixed it now i can confirm that .

[2015-01-30 18:48] popzip commented on #544
If you are going to install the EA version of MarkLogic 8, I would recommend doing a full uninstall, including manually deleting data directories. https://docs.marklogic.com/guide/installation/procedures#id_53295

Once MarkLogic 8 is generally available, moving from MarkLogic 7 to MarkLogic 8 will be a straightforward upgrade process.

[2015-01-30 19:02] gghai commented on #395
With the latest i see the spinner for 60 sec and then browser shows the error message .

![internet explorer 9](https://cloud.githubusercontent.com/assets/6935682/5981504/7c21b478-a86f-11e4-8c68-bd40568fe36c.jpg)

[2015-01-30 19:02] gghai commented on #547
Browser didnt timeout prior to 60 sec so marking this as ship .

[2015-01-30 19:04] gghai commented on #395
Wait seems some issue with my setup , retrying

[2015-01-30 19:04] gghai commented on #547
Wait seems some issue with my setup , retrying

[2015-01-30 19:24] laurelnaiad commented on #380
Fixed the whole thing or just got the machine started?

[2015-01-30 19:26] laurelnaiad commented on #395
If it isn't some other issue, I think it's worth noting that this machine seems to be getting slower and slower. how is the fragementation? How much of the RAM is virtual?

[2015-01-30 19:27] gghai commented on #380
Rebooted the machine only .

[2015-01-30 19:44] laurelnaiad commented on #380
It seems to now work. I have tests running right now, will report back when they are complete (decent  chance of a failure due to #550).

[2015-01-30 19:50] laurelnaiad commented on #380
Ok, the sauce tests run now. We have a #550 issue that I'm working right now. Please report any other individual test failures as separate issues. Thanks!

[2015-01-30 19:51] laurelnaiad commented on #380
(and for the record `--sauce` is the only way to fly with e2e on this machine since it doesn't have a gui)

[2015-01-30 20:10] gghai opened #551 "windows : unit test failure with gulp run"
···

  122 passing (4s)
  7 pending

Unit Tests:

  ··········································
  ··········································
  ··········································
  ·

  119 passing (10s)
  7 pending
  1 failing

  1) unit tests app directives ssFacetDateRange "before each" hook:
     timeout of 5000ms exceeded

[06:19:05] (deploying static build...)
[06:19:06] (...static bui

[2015-01-30 20:15] laurelnaiad commented on #551
This is off the charts. Over 5 seconds to do almost nothing, **all of which should have been in RAM**.

I don't want to boot you off the machine, please report:

- physical RAM
- virtual memory
- CPU usage %
- fragmentation of disk

We are way beyond the territory of fixing app problems at this point.

[2015-01-30 20:27] popzip opened #552 "Write up ETL process"
I think we had discussed this - maybe in a wiki - including some of the transformation code. Would be good to summarize:
* Stack overflow zips up archives and posts to repository (we are not pulling directly from Stack Overflow APIs)
* Load into MarkLogic for processing
* Run ETL code (post/share?)
* Do an extraction of the subset we want (post queries)
* Zip up and post to DMC hosted location
* G

[2015-01-30 20:44] laurelnaiad commented on #395
Just want to point out that if we have issues like #551, which should have been pretty much RAM only and takes more than 5 seconds, then the only problem here may be the QA machine, not anything in our code.

[2015-01-30 20:56] grechaw commented on #395
Yeah I gotta say, these timeouts are so long that I would WANT an error.

[2015-01-30 20:56] grechaw commented on #395
Like "talk about getting a MarkLogic cluster :)"

[2015-01-30 20:59] grechaw commented on #549
You know, your solution makes sense generally -- fetch uses URL.openStream() which is not a fault-tolerant way to get files.  If we get reports of issues outside of travis then we can consider a retryable http connection from the task too

[2015-01-30 21:23] gghai commented on #551
On running the gulp run the failure didnt happen , marking it as sporadic and closing this one out.

[2015-01-30 21:25] laurelnaiad commented on #551
Please give me the numbers anyway or let me know when the machine is free. We're spending a whole lot of resources making this machine happy....

[2015-01-30 21:26] gghai commented on #551
I ll let you know when it done , in process of trigger some e2e tests .Thanks for looking on the machine

[2015-01-30 21:28] laurelnaiad commented on #551
That's fine, just please don't report any issues against this machine until we see those numbers.

[2015-01-30 21:29] gghai commented on #551
Roger that !!

[2015-01-30 21:51] gghai commented on #380
Was able to run the gulp e2e from Linux box with broken flag

gulp e2e --sauce=linux-chrome-37
gulp e2e --sauce=linux-firefox-32

Yes there is no way to gulp gulp e2e locally with no gui available .

[2015-01-30 22:49] #551 closed

[2015-01-30 22:49] #535 closed

[2015-01-30 22:49] #485 closed

[2015-01-30 23:01] popzip opened #554 "Upgrade Windows machine / Troubleshoot warm up and time out"
Closely related to #395 (JVM warm up issue), want to make sure we leave a task to investigate why QA Windows machine running so slowly on tests, even browser unit tests as well as e2e.

[2015-01-30 23:20] grechaw commented on #395
Look at the metrics on this search

cgreer@cgreer-laptop:~$ scurl http://appw7-brwt-3.marklogic.com:8006/v1/search
 <search:metrics>
    <search:query-resolution-time>PT0.399S</search:query-resolution-time>
    <search:facet-resolution-time>PT0S</search:facet-resolution-time>
    <search:snippet-resolution-time>PT0.072S</search:snippet-resolution-time>
    <search:total-time>PT6.601S</search:total

[2015-01-30 23:22] grechaw commented on #395
Total time drops to 0.018 after a few requests (for the same query)

[2015-01-30 23:36] popzip opened #555 "Document JVM warm up issue"
Do you all think wiki is best place for this? or embedded in one of the existing readmes? Since it happens upon browser launch it seems like it would make sense there, but I know its not a browser issue...so maybe wiki is the most neutral place. //@grechaw @laurelnaiad

proposed wiki:
Known issue - Timeout / Browser hangs

Some developers, particularly on their first run of Samplestack, experience

[2015-01-30 23:55] grechaw commented on #555
actually, one advantage of having issues here on github is that they're here on github.  anyone can read about issue #395 or #213

[2015-01-30 23:58] popzip commented on #555
i'm not sure if you're responding to my question about where to put this - i mean github wiki or github readme..

[2015-01-30 23:58] popzip commented on #555
but this issue is common enough i think we need to surface it more than just in the issues and put to the level of readme or wiki on its own, since we tested and couldnt get past it.

[2015-01-31 01:02] gghai commented on #452
Hi Daphne : As we talked about setting up the new VM WIn 7 instance I have worked with the IT add details are added to our wiki testing infrastructure . You can go ahead with similar software verison and setup we can use this m/c for our e2e tests .

https://wiki.marklogic.com/display/rootwiki/Reference+Architecture+%3A+Testing+Infrastructure+Wiki

[2015-01-31 01:19] gghai commented on #555
My 2 cents to adding in the github readme .

[2015-01-31 01:30] popzip commented on #555
what is the other browser message, can someone fill in the second bullet for me?

[2015-01-31 03:14] gghai commented on #457
Sauce labs portal seems down . Will retry at later point.

[2015-01-31 03:15] laurelnaiad commented on #457
Is that the problem? Are you testing on mac? I'm trying to get the new win machine running and banging my head against the sauce part.... if it's down then no wonder! (until the next problem)

[2015-01-31 03:16] gghai commented on #457
Portal is down that was realized after few test failure from mac :-) Friday evening best time to upgrade

[2015-01-31 03:23] laurelnaiad commented on #549
Here is a stacktrace of the dbLoad failure on travis (this is when it is supposed to be loading the seed data from a local file). Obviously it's not telling us anything special -- no funky permissions problem or anything like that. It seems to work about 1 out of every 6-8 builds attempts.

[code]

[2015-01-31 03:27] laurelnaiad commented on #554
A new windows machine is mostly configured. SauceLabs is down so can't quite finish right now.

[2015-01-31 03:28] laurelnaiad commented on #550
As I reported this, I'll assert that it is fixed -- this particular incompatibility with simultaneous tests has been prevented.

[2015-01-31 18:23] laurelnaiad commented on #452
I may have found why we are getting the 'bad gateway' error sometimes.  https://support.saucelabs.com/entries/27401240-Testing-with-a-localhost-server-and-some-browsers-can-t-load-my-website documents that SauceLabs sets up a proxy for IE when testing against a localhost site. It may be that that proxy is failing.

I am testing a change to work around this. It would require users who wish to use S

[2015-02-02 07:20] gghai commented on #457
Ran this command through linux box using sauce

gulp e2e --sauce=win7-ie-9

 All test passed .

[2015-02-02 14:21] laurelnaiad commented on #555
*"$http response.status === 0. This may indicate a timeout. Is the middle tier working?"*

[2015-02-02 17:18] grechaw commented on #549
I think we worked this issue Friday -- and that this particular error came from the lack of absolute paths on the travis machine, right @laurelnaiad ?

[2015-02-02 17:22] grechaw commented on #552
I'm taking the original document https://wiki.marklogic.com/display/rootwiki/ETLs+to+get+samplestack+data from last year, and rounding out where the ETL ended up.  The github project with ETL code is at grechaw/samplestack-etl.  It can certainly be moved to marklogic if that's desired.

[2015-02-02 17:54] laurelnaiad commented on #549
No, it just fails most of the time and sometimes succeeds -- seems independent of whether we read from file: or http:.

I suspect a bug in their ubuntu stack's streaming capability or something like that. I think an flag to read from a "regular" local file instead of file: would probably be a reliable workaround.

[2015-02-02 17:56] laurelnaiad commented on #549
I'm not dead set on 8.0-1 for this, BTW. In fact, I'm changing it to 8.0-2 and if anyone objects we can discuss.

[2015-02-02 23:04] gghai opened #559 "e2e/win7/ff32 date range test fails"
pData\Local\Temp\sc-launcher-readyfile
02 Feb 14:50:38 - Using no proxy for connecting to Sauce Labs REST API.
02 Feb 14:50:38 - Resolving saucelabs.com to 162.222.73.28 took 93 ms.
02 Feb 14:50:38 - ***********************************************************
02 Feb 14:50:38 - A newer version of Sauce Connect (build 1630) is available!
02 Feb 14:50:38 - Download it here:
02 Feb 14:50:38 - https://

[2015-02-02 23:42] popzip commented on #555
thanks, updated original above.

[2015-02-02 23:55] gghai opened #560 "DNS error with running gulp e2e sauce tests from mac"
With today check-in i was able to run the sauce test from the windows 7 and linux .

When i run the commands from my mac ( with middle teir running )
gives Bad Gateway Error - DNS

![mac chrome bad gateway](https://cloud.githubusercontent.com/assets/6935682/6011679/aec00bf6-aaf3-11e4-9154-28f2d7a030b0.jpg)

[2015-02-02 23:57] gghai commented on #560
Commands i used below with the broken flag

gulp e2e --sauce=osx10.8-chrome-37
gulp e2e --sauce=osx10.9-chrome-37
gulp e2e --sauce=osx10.9-firefox-32

[2015-02-03 00:11] gghai commented on #559
Encountered similar failure with running locally also with broken flag on.

*gulp e2e --browser=ff*

[2015-02-03 00:19] grechaw commented on #552
OK- I updated README and config in grechaw/samplestack-etl.    That README documents everything up to the zip + post to DMC, which is really still a manual process.  We'll have to tie all that together somewhere.

[2015-02-03 00:22] gghai commented on #452
I am treating this as umbrella bug for the e2e on windows . With today code change I am able to run the e2e on sauce with today check -in . Moving on when I am running the below commands locally ,  it is not able to find the driver for IE9 locally , i checked the directory seems jar is missing . Let me know if you want a new bug for this one . Thanks

C:\Users\builder\marklogic-samplestack\browser

[2015-02-03 00:54] laurelnaiad commented on #560
You need to configure the hosts file on your mac.

See http://www.tekrevue.com/tip/edit-hosts-file-mac-os-x/ for instructions.

Add

[code]

[2015-02-03 01:20] laurelnaiad commented on #559
@clockworked247, FWIW this doesn't seem like it would be related to "unclean" seed data because the number is quite far off of the expectations. Looks suspiciously like the date range didn't get set.

[2015-02-03 01:50] gghai commented on #560
Working fine after adding the above entry to host file. Thanks

[2015-02-03 07:02] gghai opened #562 "win7 / ie9 : 3 test failures running gulp e2e --browser=ie --tags="~@broken""
[code]

[2015-02-03 07:16] gghai commented on #452
Verified able to run gulp e2e locally with IE browser after this fix.

gulp e2e --middle-tier=external --browser=ie
gulp e2e  --browser=ie

Test failure that came out of this is https://github.com/marklogic/marklogic-samplestack/issues/562

[2015-02-03 13:06] laurelnaiad commented on #562
It looks like you may not have had completely clean seed data ("AssertionError: expected 1179 to equal 1181", seems like an expectation might be off due to having "touched" some of the QnA docs).  That seems like a test running mistkake.

However, it also seems like the "resolved only" feature didn't work. I will look at that.

[2015-02-03 13:42] laurelnaiad commented on #562
I just ran the tests a couple of times on clean seed data.

1) It does look like "AssertionError: expected 1179 to equal 1181" was probably due to "dirty" seed data. I can't reproduce it at all.

2) I got a different failure the first time I ran. It happened as I clicked on the console window during the tests. In other words, when I "touched" the windows. I suspect that in Windows there may be som

[2015-02-03 13:52] laurelnaiad commented on #559
@gghai I can't reproduce this.

One thing -- perhaps relevant, perhaps not: the Windows box was not on the most recent commit on release/1.0.0-rc1. When I noticed that, I checked it out and pulled, then ran `npm install` and `bower install`.

All tests under `gulp e2e --sauce=win7-firefox-32 --tags="~@broken"` are passing.

[2015-02-03 13:56] laurelnaiad commented on #562
My suspicion looks to be a known issue (not previously known to me, though, as relied in the past on SauceLabs for IE testing):

https://code.google.com/p/selenium/wiki/InternetExplorerDriver
[code]

[2015-02-03 16:31] popzip opened #563 "broken e2e tests"
Why do we still have broken tests? Are we planning on releasing with broken tests, and if so why not just fix and/or remove them?

[2015-02-03 17:27] popzip commented on #563
No I'm just asking what the broken tests are...I figured during development we would have broken tests, but not sure what's left that is broken - is it features that are coming in future releases? Bugs that got pushed?

[2015-02-03 18:22] laurelnaiad commented on #563
Philosophically, tests represent an expression of requirements. To remove them when they don't work would be to say that we're altering requirements. To leave them says, "this is an unfinished work," and this very much **is** an unfinished work. In open source scenarios and under continuous integration testing as we do, we don't want to shy away from what remains to be done or what is unreliable,

[2015-02-03 18:27] popzip commented on #563
Great, thanks. Is an issue logged related to the broken test?

[2015-02-03 18:27] laurelnaiad commented on #563
The broken test:

https://github.com/marklogic/marklogic-samplestack/blob/10361e91ed616fad7f319825edfa278acab89169/specs/features/vote-on-question.feature#L17

[code]

The issue is that the test itself doesn't always see the updated contributor reputation. I just noticed that the issue number to which it is referenced (#363) is already closed, so it should probably have a new issue created and tha

[2015-02-03 18:27] laurelnaiad commented on #563
Cross-posted. I should open a new issue and we should update the tag.

[2015-02-03 18:30] laurelnaiad opened #564 "e2e: vote-on-question scenario test not reliable"
https://github.com/marklogic/marklogic-samplestack/blob/10361e91ed616fad7f319825edfa278acab89169/specs/features/vote-on-question.feature#L17 is not a reliable test.

It is tagged as broken until we determine why. It probably has to do with our promises not being properly chained, and thus the test driver *thinks* the action is complete when in fact there is still a promise being resolved.

[2015-02-03 18:32] laurelnaiad commented on #563
I added an issue for this broken test (#564).

I've converted your question to a task (which is to re-tag the broken test with `@564` for tracking purposes.

Do you think this is worth doing another merge to the release candidate? It's easy for me to do and will have zero impact on the app, so I'm switching this to 8.0-1 to propose doing it now.

[2015-02-03 19:41] popzip commented on #563
What would be in the merge? looks like you've tagged #564 for 8.0-2.

[2015-02-03 19:42] laurelnaiad commented on #563
Correction of the issue number in the tag of the broken test.

[2015-02-03 19:42] popzip commented on #563
Oh i get it - the re-tag. Yes that would be great for completeness. As long as it's not app-impacting I'm good with it.

[2015-02-03 19:58] gghai opened #565 "windows gulp run intermittent error"
gulp run i ran into this with day zero case (  fresh SS checkout and ML 02/03 build) . Is this concerning ? .This is on new VM windows box.

Unit Tests:

  ··········································
  ··········································
  ··········································
  ···

  122 passing (4s)
  7 pending

[11:55:35] (deploying static build...)
[11:55:35] Error Deploying static

[2015-02-03 20:11] laurelnaiad commented on #565
It's concerning for Node.js version 0.10.34's ability to cope with real-time antivirus protection in Windows.... I've just disabled it on the new Windows QA machine for the marklogic-samplestack directory. I believe that will stop this from happening.

[2015-02-03 20:52] gghai commented on #565
Do we need to document this ?

[2015-02-03 21:00] laurelnaiad commented on #565
Perhaps. Documenting known issues in Windows is a slippery slope, as we'd see if we were to start recreating TechNet.... but this one does seem to come up often with build automation.

[2015-02-03 21:03] popzip opened #566 "Add link to MarkLogic Combined Product Notice"
I think it will be this URL, but confirming: https://docs.marklogic.com/guide/copyright/legal

Kasey to add text - then will assign to Charles to add to readme.

[2015-02-03 21:04] popzip commented on #565
When else has it come up?

[2015-02-03 21:05] gghai commented on #565
@popzip @laurelnaiad  can we add this to documentation / or punt to 8.0-2  .

[2015-02-03 21:06] laurelnaiad commented on #565
https://github.com/marklogic/marklogic-samplestack/wiki/Node.js-and-npm-Tips-for-Samplestack-Development#for-windows-file-system-errors-eperm-enoent-and-others

[2015-02-03 21:07] laurelnaiad commented on #565
(just added)

[2015-02-03 21:11] laurelnaiad commented on #565
@popzip, it does tend to come up in Windows because Windows anti-virus solutions seem to be distrustful of background threads making changes to files and thus they throw wrenches into the process seemingly at random.

[2015-02-03 22:15] laurelnaiad commented on #563
This is ready to test. The only think to really test is that you can omit `--tags="~@broken"` and nonetheless the broken test  should still be skipped. No need to do this across platforms/browsers.

[2015-02-03 22:54] gghai commented on #559
All test passed using gulp e2e --sauce=win7-firefox-32  .Marking this as closed.

[2015-02-03 22:55] gghai commented on #555
@popzip can you confirm if this need to be passed back to you for closure ?

[2015-02-03 22:59] gghai commented on #562
Tried with latest e2e --browser=ie gave no test failures

[2015-02-03 23:10] popzip commented on #555
If it looks right to you, you can pass back to me.

[2015-02-03 23:11] gghai commented on #559
This is passing on sauce and failing locally . Refer to my comments :

Encountered similar failure when running locally with broken flag on.

gulp e2e --browser=ff
:

giving
    And I view the content contributor                                           # :\Users\builder\marklogic-samplestack\specs\features\view-contributor.feature:14
    Then the contributor display name is "MaryAdmin"

[2015-02-03 23:17] gghai commented on #555
As we ported to the new VM windows instance , deploying the app and accessing the app on IE9 ( specially where i was able to reproduce consistently in the past ) spinner shows for few seconds and then home page loads fine . I am still not sure if there anything more we can do , above description holds true for point in time when I was able to reproduce consistently , since I am not able to reprodu

[2015-02-03 23:22] gghai commented on #565
Details are added to the wiki . Thanks @laurelnaiad

[2015-02-03 23:47] gghai commented on #516
There were  changes around 17 jan in the jar used to compile the  Sample stack code . Regressions machine are running on Java 1.6. version and tests are  failing due to mismatch of version of jar used to compile the code vs what is available at the regression machine  . Unit test fails with “ major version 51 is newer than 50, the highest major version supported by this compiler. It is recommended

[2015-02-04 00:28] popzip commented on #555
So you are not able to reproduce the error anymore? If not, I will hold off on posting this until after we have Greg re-test the MLU VMs (after release). In the meantime we can add a note about refreshing browser.

[2015-02-04 00:48] laurelnaiad commented on #559
As we just saw at your desk, the test is failing locally but not on SauceLabs, and the app under firefox in this scenario is working as expected, so I'm going to mark the test as broken and we should loop back and fix the test later.

[2015-02-04 01:00] gghai commented on #563
Ran e2e without the tag broken flag

[2015-02-04 01:05] gghai commented on #559
re-ran the commands with test commented out . Marking this as ship. Thanks

[2015-02-04 01:06] laurelnaiad commented on #559
Set to 8.0-2 to fix the test.

[2015-02-04 01:07] gghai commented on #559
Ah Okie . Isnt there a umbrella tasks to fix all broken tests .

[2015-02-04 01:12] laurelnaiad commented on #559
We should have individual issues for individual bugs and tasks, so if there is an umbrella task that's fine but it shouldn't take the place of granular issues.

[2015-02-04 01:36] gghai commented on #555
I am not able to reproduce . Would be good if greg can confirm.

[2015-02-04 17:40] grechaw commented on #552
I think the last tie-up we could do on this task (if we want to move to 8.0-2 and reopen) would be to make sure that somebody can take on ownership of this project and process.  I'm happy to hold it for a while, but that will be important at some point in Februrary probably.

[2015-02-04 17:46] laurelnaiad commented on #552
We should also think about whether it should "go public" and/or should have a javascript mirror implementation.

[2015-02-04 17:52] grechaw commented on #552
The repo is public now, but the process would need some last-mile-or-two refinement to be automated sufficiently for general consumption.

[2015-02-04 19:16] popzip commented on #566
Charles, can you add a THIRD-PARTY-NOTICES.txt file to the top level repo with the following content:

Samplestack incorporates certain third party libraries and components which are subject to the attributions, terms, conditions and disclaimers set forth in the MarkLogic "Combined Product Notice" at https://docs.marklogic.com/guide/copyright/legal.

[2015-02-04 19:17] popzip commented on #566
Note to Charles & Daphne: That's how we're handling for this release - that doc will contain everything you already laboriously put into the wiki. We'll adjust this process for next release based on our monday meeting.

[2015-02-04 19:24] #560 closed

[2015-02-04 19:29] popzip commented on #552
Looks good charles.

Couple typos in your readme:
"Achives" & "transformsn".

Also what about adding a link from Samplestack to the etl repo for now? Maybe in the database Readme?

[2015-02-04 19:32] gghai commented on #490
We no longer use the broken flag for running the gulp e2e .

[2015-02-04 19:41] grechaw commented on #552
OK sounds good.    I've edited the database README and queued up in the branch that has the java dependency changes.

[2015-02-04 19:57] grechaw commented on #566
OK I have this pushed to the same branch as the java client updates (which I think will happen tomorrow)

[2015-02-04 20:32] #490 closed

[2015-02-04 20:33] popzip commented on #539
Possible to clean this up today?

[2015-02-04 21:03] laurelnaiad commented on #539
Whoops. I already shipped it in bugtrack. Got led astray by an email w/link to it....

[2015-02-04 21:06] popzip commented on #539
oh ok gotcha. what about the npm travis branches - just curious how they are being used?

[2015-02-04 21:09] popzip commented on #526
the original edits requested are done.

however couple more tweaks please...

Under Application Overview, update *to* the following:
* "User records and Question documents"
* "Accepted Answers and Reputation"

Under Additional Information:
* Add bullet:
 * Full [documentation](https://docs.marklogic.com/guide/ref-arch) on the Reference Architecture and Samplestack
* Update bullet:
 * [MarkLogic pr

[2015-02-04 21:13] laurelnaiad commented on #539
Those are supposed to be fleeting. They hang around when the overnight travis build fails to finish. I just delete them periodically.

[2015-02-04 21:14] gghai opened #568 "can we add this npm install failure on git wiki"
I haven seen this on mac with day zero case few times now i.e first time i try to go a npm install on ss repo  .

Cn we please also add this case to the git wiki . Removing the node_modules and re-running the npm install fixes the issue .

ofclan16-18-253:browser demouser$ npm install

Download already available at /var/folders/t7/3dh7n5dx4gs6pqf3r1qqc99w0000gp/T/phantomjs/phantomjs-1.9.8-macosx.z

[2015-02-04 21:15] popzip commented on #565
going to remove external because it messes with bugtrack status..if its ship i dont think we need external status anymore.

[2015-02-04 21:33] laurelnaiad commented on #568
Already there: https://github.com/marklogic/marklogic-samplestack/wiki/Node.js-and-npm-Tips-for-Samplestack-Development#for-npm-install

[2015-02-05 00:04] #568 closed

[2015-02-05 00:31] popzip commented on #555
Post-release I'll check in with Greg and others to see if anyone still seeing errors or being forced to manually refresh ...otherwise not going to add to any readmes or wikis for the time being.

[2015-02-05 02:13] yawitz opened #569 "Tag suggestion list in Ask page should be alphabetized, not sorted by count"
The tag suggestion list in the Ask page currently sorts by count. It should sort alphabetically, as I assumed it did (by default) based on the behavior of the component referenced in the wireframes:
http://mbenford.github.io/ngTagsInput

See below image for an example of the issue.

![safari-screensnapz001](https://cloud.githubusercontent.com/assets/2439425/6053813/62f27ce8-ac99-11e4-8950-21575e88

[2015-02-05 03:53] laurelnaiad commented on #569
In the last version of the wireframes I looked at, the related tags list was sorted by descending count. Should that be changed to alphabetical as well?

[2015-02-05 06:07] popzip commented on #499
Looks good to me for now, no further updates

[2015-02-05 06:08] popzip commented on #525
Looks good to me for now, no further updates

[2015-02-05 06:26] popzip commented on #499
It's pretty good as is, and definitely very informative.

I think there are some improvements we could consider for later:
* Biggest remaining question is whether we only weight based on location (e.g. in title vs. text). See narrative for more on the relevance requirements. I would also expect to have weightings for other factors like term frequency (maybe that's built it?), recency, accepted or

[2015-02-05 06:31] popzip opened #570 "Minor spelling edits in comments for cleanstart"
shill -> shell (?)
eoror -> error

[2015-02-05 06:33] popzip commented on #298
I think the only comment that hasn't gotten addressed here is lack of QA review/repro for the Temporary OSX workaround. Has QA ever encountered this? Is it only Daphne?

[2015-02-05 06:40] popzip commented on #298
Moving to 8.0-2 as it is not a stop ship but would like to answer asap...

[2015-02-05 14:17] mpheckel commented on #525
Kasey, sorry for the late response.  I had meant to take a look when you first wrote but then forgot until today.  No worries though because I finally read what Charles wrote and I think it helps a lot.  Thanks-

From: Kasey Alderete [mailto:notifications@github.com]
Sent: Thursday, February 05, 2015 1:08 AM
To: marklogic/marklogic-samplestack
Cc: Matt Heckel
Subject: Re: [marklogic-samplestack] D

[2015-02-05 14:21] laurelnaiad commented on #298
Ideally this is an optimization.... a while back it was also a necessity to a bug in a dependency, but I don't know if that's still true.

For 8.0-2 let's find out if it's still as big of a problem.

[2015-02-05 17:19] grechaw commented on #526
OK I've got these edits in place locally and can push, but one small question, perhaps for @dsokolsky .  Your link to ref-arch documentation uses https.  I see that https works for docs.marklogic.com -- we use https canonically for documentation?

[2015-02-05 17:25] yawitz commented on #569
I think it's OK for related tags to be sorted by count. (If there was a notion of "relationship strength" or something similar, I'd think that would be a valid sort criterion, but count still seems like an appropriate sort.)

The difference is due to different task goals:
* the tag suggestion list is about task completion, i.e. assisting the user in finding a desired tag based on what they typed.

[2015-02-05 17:40] laurelnaiad commented on #569
Makes sense, thanks for the explanation!

[2015-02-05 17:42] dsokolsky commented on #526
Yes, either https or http will work for (almost) any links to the develover.marklogic.com site or docs.marklogic.com site.  I say (almost) because a few pages have a bug around that (don't ask).   I usually just use the http links.

[2015-02-05 17:43] grechaw commented on #569
+1

[2015-02-05 17:46] grechaw commented on #526
OK this is pushed up with the other changes.  I'll make a PR now so that we can label the outstanding tasks.

[2015-02-05 18:03] grechaw commented on #511
This is almost certainly either an RFE or a bug in the Search API for JSON Snippeting.  Either way its on me to get a bug into bugtrack about it, and mark this as external when that happens.

[2015-02-05 18:15] grechaw commented on #499
Excellent feedback -- to answer the first question just here,
relevance in default samplestack searches is not affected by accepted/recency and such currently.
That could definitely be added in -- the browser right now is in charge of constructing queries (like the ones in markmail post) that could boost score based on accepted and recency and such -- or the middle tier could add in these queries.

[2015-02-05 20:38] popzip commented on #525
no worries thanks for taking a peek.

[2015-02-05 20:58] grechaw opened #572 "Default search relevance punchlist"
From Application Narrative, these are needed for search ranking.  All of these criteria should apply to the default search that is run by Samplestack.

These points are default MarkLogic Search API behavior and did not require any special configuration in Samplestack:
* More relevant to have a match on more distinct words
* Higher frequency of search terms in the target document means better relev

[2015-02-05 21:00] grechaw commented on #499
Created https://github.com/marklogic/marklogic-samplestack/issues/572 to track task of implementing the points I missed.  Mea Culpa on that, it's a gap to be sure.  I remember deferring it until we had some rich data available and then not coming back all the way during default search discussions with the group.

[2015-02-05 21:27] grechaw commented on #499
OK I did a bit more on that document -- one of your bullet points I think leads to a different (as yet unwritten) document, about the searches used in samplestack and how they're sent to the middle tier.  I'll set to test for now, assign to @popzip ,  -- feel free of course to edit the page

[2015-02-07 17:49] laurelnaiad commented on #41
IIRC, where the CSRF/CORS features lie in the middle-tier has two issues that are outstanding, one of which we've certainly discussed and one of which may only have been a stray comment in a chat or something.

- CORS/CSRF combination breaks
- browser can't distinguish types of bad auth

The first is relatively straightforward: Turning on CORS shouldn't change the way CSRF functions.

The second r

[2015-02-07 18:16] laurelnaiad commented on #465
Dropping IE9 as in RFE #491 would solve this.

[2015-02-07 18:18] laurelnaiad commented on #404
Converting to RFE to change /v1/search API to support shadow searches in same request as "main" search.

[2015-02-09 06:35] yawitz commented on #404
Can we move the dynamic bucketing issue to a separate issue for 8.0-2? *That* one is still a task to be addressed, not an RFE (as per Kasey's comment above, and the design captured in the wireframes).

[2015-02-09 12:39] laurelnaiad commented on #404
Let's discuss before we create extra issues. Tackling the feature without the API change raises performance/complexity issues and so I think it's best we try to do them together. I made it an RFE so that we could discuss landing time and resources.

[2015-02-09 19:15] grechaw commented on #41
Seems reasonable to me, and like I should be able to implement.
I think #1 was actually working, but when cors was turned on, the browser didn't send a token header specifically with the POST /v1/login.
Another option would be for you to implement this as part of the node js work, and then I can just mimic the implementation that's working for the browser + node middle tier.  I can devote some eff

[2015-02-09 19:36] laurelnaiad commented on #41
My preference would be to pursue this earlier than later, vis-a-vis timing re: node.js work, but if it makes more sense for you to be working on other things for a while, that's ok.

Re `#1` working, are you saying that the browser was given a token in response to GET /v1/session, and then didn't use it in POST session, but that problem only happened when CORS was turned on? This seems pretty unli

[2015-02-09 19:50] popzip commented on #549
was this meant to close?

[2015-02-09 19:52] #539 closed

[2015-02-09 19:54] laurelnaiad commented on #549
No, that commit which was intended to close it didn't fix the issue.  Current WIP is https://github.com/marklogic/marklogic-samplestack/pull/573.  I would like to get some version of that PR merged because it makes travis a more realistic place to run tests and have some expectation of success. :)

[2015-02-09 20:04] popzip commented on #544
MarkLogic 8 is now available: http://www.marklogic.com/what-is-marklogic/whats-new/.

Let us know if you have issues running Samplestack after you upgrade the database server to version 8.